@keyframes line_1_anim {
  0% {
    transform: translateY(0);
    top: -6px;
  }
  50% {
    transform: translateY(2 * 3px);
    top: -5px;
  }
  100% {
    transform: translateY(2 * 3px) rotate(45deg);
    background-color: var(--pallete-common-white);
    top: -5px;
  }
}
@keyframes line_3_anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2 * 3px);
  }
  100% {
    transform: translateY(-2 * 3px) rotate(-45deg);
    background-color: var(--pallete-common-white);
  }
}
@keyframes line_2_anim {
  0% {
    transform: translateX(0);
    width: 29px;
    margin-left: -9px;
  }
  50% {
    transform: translateX(0);
    width: 20px;
    margin-left: 0px;
  }
  100% {
    transform: translateX(0);
    width: 20px;
    margin-left: 0px;
    background-color: transparent;
  }
}

@keyframes line_1_anim_closing {
  0% {
    transform: translateY(2 * 3px) rotate(-45deg);
    top: -5px;
  }
  50% {
    transform: translateY(2 * 3px);
    top: -6px;
  }
  100% {
    transform: translateY(0);
    @include light-theme {
      background-color: var(--pallete-grey-900);
    }
    @include dark-theme {
      background-color: var(--pallete-common-white);
    }
    top: -6px;
  }
}
@keyframes line_3_anim_closing {
  0% {
    transform: translateY(-2 * 3px) rotate(45deg);
  }
  50% {
    transform: translateY(-2 * 3px);
  }
  100% {
    transform: translateY(0);
    @include light-theme {
      background-color: var(--pallete-grey-900);
    }
    @include dark-theme {
      background-color: var(--pallete-common-white);
    }
  }
}

@keyframes line_2_anim_closing {
  0% {
    transform: translateX(0);
    // opacity: 0;
    width: 20px;
    margin-left: 0px;
    background-color: transparent;
  }
  50% {
    transform: translateX(0);
    width: 20px;
    margin-left: 0px;
  }
  100% {
    transform: translateX(0);
    width: 29px;
    margin-left: -9px;
    @include light-theme {
      background-color: var(--pallete-grey-900);
    }
    @include dark-theme {
      background-color: var(--pallete-common-white);
    }
  }
}

@keyframes appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hero-image__animation {
  0% {
    transform: translate3d(0, pxToRem(-5), 0);
  }
  50% {
    transform: translate3d(0, pxToRem(5), 0);
  }
  100% {
    transform: translate3d(0, pxToRem(-5), 0);
  }
}

@keyframes hero-header__typingAnimation {
  from {
    width: 0;
  }
  50% {
    width: 35%;
  }
  to {
    width: 100%;
  }
}
// @keyframes hero-header__typingDynamicAnimation {
//   0%{
//         width: 100%;
//         h1{
//           span:nth-child(1){
//             opacity: 1;
//           }
//         }
//       }
//       20%{
//         width: 100%;
//         h1{
//           span:nth-child(2){
//             opacity: 1;
//           }
//         }
//        }
//        40%{
//         width: 100%;
//         h1{
//           span:nth-child(2){
//             opacity: 1;
//           }
//         }
//        }
//       60%{
//         width: 100%;
//         h1{
//           span:nth-child(3){
//             opacity: 1;
//           }
//         }
//        }
//       80%{
//         width: 100%;
//         h1{
//           span:nth-child(4){
//             opacity: 1;
//           }
//         }
//       }
//       100%{
//         width: 100%;
//         h1{
//           span:nth-child(5){
//             opacity: 1;
//           }
//         }
//       }
// }
// @keyframes hero-header__typingDynamicAnimation {
//   0% {
//     opacity: 1;
//     width: 0%;
//   }
//   50% {
//     opacity: 1;
//     width: 35%;
//   }
//   99% {
//     opacity: 1;
//     width: 0%;
//   }
//   100% {
//     opacity: 0;
//     width: 0%;
//   }
// }
@keyframes hero-header__eraseAnimation {
  0% {
    width: 100%;
  }
  10%{
    width: 35%;
  }
  20%{
    width: 100%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
// @keyframes hero-header__typingAfterAnimation {
//   from{
//    width: 35%;
//   }
//   to{
//     width: 100%;
//   }
// }

// @keyframes hero-header__afterAnimation {
//   0%{
//     width: 100%;
//    content: "Креатива";
//   }
//   20%{
//     width: 100%;
//     content: "Дизайна";
//    }
//    40%{
//     width: 100%;
//     content: "Логотипа";
//    }
//   60%{
//     width: 100%;
//     content: "Призентации";
//    }
//   80%{
//     width: 100%;
//     content: "Иллюстрации";
//   }
//   100%{
//     width: 100%;
//     content: "Айдентики";
//   }

// }

@keyframes bookmark__animation-Hover {
   from{
     height: 43px;
   }
   80%{
     width: 15px;
     right: pxToRem(35);
   }
   to{
     height: 86px;
     width: 15px;
     right: pxToRem(35);
   }
}

@keyframes bookmark__animation-HoverDown {
  from{
    height: pxToRem(86);
  }
  80%{
    height: pxToRem(23);
    width: pxToRem(34);
  }
  to{
    height: pxToRem(43);
    width: pxToRem(27);
  }
}

// @keyframes bookmark__animation-notHover {
//   from{
    
//     height: 86px;
//   }
//   to{
//     height: 43px;
//   }
// }

// @keyframes bookmarkTip__animation-notHover {
//   from{
    
//     top: 76px;
//   }
//   to{
//     top: 33px;
//   }
// }
@keyframes bookmarkTip__animation-Hover {
  from{
    
    top: 33px;
  }
  80%{
    height: pxToRem(15);
    width: pxToRem(15);
    right: pxToRem(35.2);
  }
  to{
    top: 76px;
    height: pxToRem(15);
    width: pxToRem(15);
    right: pxToRem(35);

  }
}
@keyframes bookmarkTip__animation-HoverDown {
  from{  
    top: 76px;
  }
  80%{
  top: 14px;
  height: pxToRem(28);
  width: pxToRem(28);
  }
  to{
    top: 33px;
  }
}
