@keyframes line_1_anim {
  0% {
    transform: translateY(0);
    top: -6px;
  }
  50% {
    transform: translateY(2 * 3px);
    top: -5px;
  }
  100% {
    transform: translateY(2*3px) rotate(45deg);
    background-color: var(--pallete-common-white);
    top: -5px;
  }
}
@keyframes line_3_anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2 * 3px);
  }
  100% {
    transform: translateY(-2 * 3px) rotate(-45deg);
    background-color: var(--pallete-common-white);
  }
}
@keyframes line_2_anim {
  0% {
    transform: translateX(0);
    width: 29px;
    margin-left: -9px;
  }
  50% {
    transform: translateX(0);
    width: 20px;
    margin-left: 0px;
  }
  100% {
    transform: translateX(0);
    width: 20px;
    margin-left: 0px;
    background-color: transparent;
  }
}

@keyframes line_1_anim_closing {
  0% {
    transform: translateY(2 * 3px) rotate(-45deg);
    top: -5px;
  }
  50% {
    transform: translateY(2 * 3px);
    top: -6px;
  }
  100% {
    transform: translateY(0);
    @include light-theme{
    background-color: var(--pallete-grey-900);
    }
    @include dark-theme{
      background-color: var(--pallete-common-white);
    }
    top: -6px;
  }
}
@keyframes line_3_anim_closing {
  0% {
    transform: translateY(-2 * 3px) rotate(45deg);
  }
  50% {
    transform: translateY(-2 * 3px);
  }
  100% {
    transform: translateY(0);
    @include light-theme{
      background-color: var(--pallete-grey-900);
      }
      @include dark-theme{
        background-color: var(--pallete-common-white);
      }
  }
}

@keyframes line_2_anim_closing {
  0% {
    transform: translateX(0);
    // opacity: 0;
    width: 20px;
    margin-left: 0px;
    background-color: transparent;
  }
  50% {
    transform: translateX(0);
    width: 20px;
    margin-left: 0px;
  }
  100% {
    transform: translateX(0);
    width: 29px;
    margin-left: -9px;
    @include light-theme{
      background-color: var(--pallete-grey-900);
      }
      @include dark-theme{
        background-color: var(--pallete-common-white);
      }
  }
}

@keyframes appearance {
 from {
    opacity: 0;
  }

  to{
   opacity: 1;
  }
}
