// Placeholder color
@mixin placeholder-color($color) {
  &::-moz-placeholder {
    color: $color !important;
    opacity: 1 !important;
  }
  &::-webkit-input-placeholder {
    color: $color !important;
    opacity: 1 !important;
  }
  &::placeholder {
    color: $color !important;
    opacity: 1 !important;
  }

  &:focus::placeholder {
    // color: transparent !important;
  }
  &:focus::-moz-placeholder {
    // color: transparent !important;
  }
  &:focus::-webkit-input-placeholder {
    // color: transparent !important;
  }
}
@mixin placeholder-style($font-family, $font-style, $font-weight, $font-size, $line-height) {
  &::-moz-placeholder {
    font-family: $font-family !important;
    font-style: $font-style !important;
    font-weight: $font-weight !important;
    font-size: $font-size !important;
    line-height: $line-height !important;
  }
  &::-webkit-input-placeholder {
    font-family: $font-family !important;
    font-style: $font-style !important;
    font-weight: $font-weight !important;
    font-size: $font-size !important;
    line-height: $line-height !important;
  }
  &::placeholder {
    font-family: $font-family !important;
    font-style: $font-style !important;
    font-weight: $font-weight !important;
    font-size: $font-size !important;
    line-height: $line-height !important;
  }
}
@mixin placeholder-animation($text-ident, $transition-duration) {
  &::-moz-placeholder {
    text-indent: $text-ident !important;
    transition: text-indent $transition-duration !important;
  }
  &::-webkit-input-placeholder {
    text-indent: $text-ident !important;
    transition: text-indent $transition-duration !important;
  }
  &::placeholder {
    text-indent: $text-ident !important;
    transition: text-indent $transition-duration  !important;
  }
}
@mixin textarea-animation($text-ident, $transition-duration) {
  &::-moz-placeholder {
    text-indent: $text-ident !important;
    transition: text-indent $transition-duration  !important;
  }
  &::-webkit-input-placeholder {
    text-indent: $text-ident !important;
    transition: text-indent $transition-duration  !important;
  }
  &::placeholder {
    text-indent: $text-ident !important;
    transition: text-indent $transition-duration !important;
  }
}
// Media queries
@mixin media($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin media-min($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin media-max($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin desktop-extra() {
  @media (min-width: $desktop-extra) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin mobile() {
  @media (min-width: $mobile) {
    @content;
  }
}
