// Colors
$color-black: #1a1a1a;
$color-red: #f2571f;
$pallete-primary-main: #5551f7;
$pallete-secondary-main: #ff5f68;
$pallete-grey-900: #1c1d28;
$pallete-common-white: #ffff;
$pallete-grey-10: #e4e4e4;
$pallete-common-white-10: #f2fcff;
$pallete-common-white-20:#F9F8F7;

// Media queries
$desktop-extra: 1200px;
$desktop: 992px;
$tablet: 768px;
$mobile: 576px;
