.benefits {
  .container {
    @include tablet {
      padding: 0 19px;
    }
    @include desktop {
      padding: 0 35px;
    }
  }
  &__header {
    // padding-top: 68px;
    .header {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 145%;
      letter-spacing: 0.02em;
      @include tablet {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 145%;
        letter-spacing: 0.02em;
        // padding-top: 15px;
      }
      @include desktop {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 145%;
        letter-spacing: 0.02em;
        // padding-top: 44px;
      }
    }
  }
  .text {
    @include tablet {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 185%;
      letter-spacing: 0.02em;
    }
  }
  .benefits__wrapper {
    margin-top: 40px;
    padding-top: 1px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    @include tablet {
      margin-left: 79px;
      margin-top: 75px;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
    }
    @include desktop {
      margin-top: 82px;
      margin-left: 0px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
  .benefit__text{
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  .benefit:first-child {
    @include tablet {

    }
    @include desktop {
    }
    .benefit__text {
      margin-top: 19px;
      max-width: 192px;
      width: 100%;
      @include tablet {
        margin-top: 25px;
        max-width: 222px;
      }
    }
  }
  .benefit:nth-child(2) {
    margin-top: 50px;
    @include tablet {
      margin-top: 0;
    }
    @include desktop {
    }
    .benefit__text {
      margin-top: 19px;
      max-width: 224px;
      width: 100%;
      @include tablet {
        margin-top: 26px;
        max-width: 275px;
      }
      @include desktop {
        max-width: 261px;
      }
    }
  }
  .benefit:nth-child(3) {
    margin-top: 50px;
    @include tablet {
      margin-top: 93px;
    }
    @include desktop {
      margin-top: 0px;
    }
    .benefit__text{
      margin-top: 19px;
      max-width: 192px;
      width: 100%;
      @include tablet {
        max-width: 215px;
        margin-top: 24px;
      }
    }
  }
  .benefit:nth-child(4) {
    margin-top: 50px;
    @include tablet {
      margin-top: 93px;
    }
    @include desktop {
      margin-top: 0px;
      flex-basis: 50%;
    }
    .benefit__text{
      margin-top: 19px;
      max-width: 192px;
      width: 100%;
      @include tablet {
        margin-top: 25px;
      }
    }
  }
}

.section {
  padding-bottom: 20px;
  padding-top: 20px;
  @include tablet {
    padding-bottom: 36px;
    padding-top: 36px;
  }
  @include desktop {
    padding-bottom: 69px;
    padding-top: 69px;
  }
}
