.examples {
  padding-bottom: 17px;
  padding-top: 17px;
  @include tablet {
    padding-bottom: 36px;
    padding-top: 37px;
  }
  @include desktop {
    padding-bottom: 25px;
    padding-top: 28px;
  }
  .container {
    @include tablet {
      padding: 0 19px;
    }
    @include desktop {
      padding: 0px 35px;
    }
  }


    h2 {
      margin-bottom: 33px;
      // max-width: 132px;
      @include tablet {
        margin-bottom: 57px;
        // max-width: 175px;
      }
      @include desktop {

        // max-width: 262px;
        margin-bottom: 66px;
      }
    }
  
  &__images {
    object-fit: cover;
    // margin-top: 33px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 43px;
    @include tablet {
      // margin-top: 57px;
      margin-bottom: 50px;
    }
    @include desktop {
      padding-left: 85px;
      padding-right: 85px;
      // margin-top: 65px;
      align-items: initial;
      justify-content: initial;
      text-align: initial;

      margin-bottom: 85px;



      // display: grid;
      // grid-template-columns: 497px;
      // grid-template-rows: 560px 497px;
      // grid-gap: 24px;
    }

    .container {
      padding: 0 0;
      @include desktop {
        column-gap: 24px;
        display: grid;
        // grid: repeat(2,246px)/55% auto;
        // grid: repeat(24,20px)/55% auto;
        justify-content: center;
        row-gap: 26px;
        grid: repeat(4,246px)/55% 45%;
      }
    }
  }


  .examples__image:nth-child(1),.examples__image:nth-child(3n + 1) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 235px;
    @include tablet{
      min-height: 462px;
    }
    @include desktop {
      position: absolute;
      grid-area: auto / 1 / span 2 / span 2;
      // grid-area: auto/1/span 13/span 2;
      min-height: unset;
      left: 0;
      top: 0;
    }
  }

  // .examples__image:nth-child(7n + 3){
  //   width: 100%;
  //   height: 234px;
  //   object-fit: cover;
  //   @include tablet {
  //     width: 100%;
  //     height: 462px;
  //   }
  //   @include desktop {
  //     width: 1230px;
  //     height: 561px;
  //     grid-area: auto / 1 / span 2 / span 2;
  //   }
  // }
  .examples__image:nth-child(2),.examples__image:nth-child(3n + 2) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 235px;
    @include tablet{
      min-height: 462px;
    }
    @include desktop {
      grid-area: auto / 1 / span 1 / span 1;
      position: absolute;
      // grid-area: auto/1/span 11/span 1;
      min-height: unset;
      left: 0;
      top: 0;
    }
  }

  //, .examples__image:nth-child(9n)
  .examples__image:nth-child(3),.examples__image:nth-child(3n + 3) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 235px;
    @include tablet{
      min-height: 462px;
    }
    @include desktop {
      grid-area: auto / 2 / span 1 / span 1;
      // grid-area: auto/2/span 11/span 1;
      min-height: unset;
      position: absolute;
      left: 0;
      top: 0;
    }
  }


  .button__link {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .image__container{
    position: relative;
  }
}
