html[dir="rtl"] {
  .form__image {
    @include media(0, $desktop) {
      display: none;
    }
    @include desktop {
      bottom: pxToRem(-143);
      display: block;
      right: pxToRem(-74);
      max-width: 49.5%;
      position: absolute;
      width: 100%;
    }
    @include media-max(pxToRem(992)) {
      display: none;
    }
  }
  .form__checkbox + .checkbox__label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    gap: pxToRem(15);
  }
  .checkbox__label::after {
    left: pxToRem(0);
    right: pxToRem(18);
  }
}
.form {
  @include media(0, $mobile) {
    padding-top: pxToRem(44);
  }
  @include media($tablet, $desktop) {
    padding-top: pxToRem(66);
  }
  @include desktop {
    padding-top: pxToRem(68);
  }

  .container {
    @include desktop {
      display: flex;
      padding: 0;
      max-width: pxToRem(1080);
      justify-content: space-between;
      position: relative;
    }
    @include media-max(pxToRem(992)) {
      align-items: center;
      display: block;
    }
  }
  &__header {
    @include media(0, $tablet) {
      text-align: center;
      margin-bottom: pxToRem(49);
    }
    @include media(992, $desktop) {
      text-align: center;
      margin-bottom: pxToRem(98);
      text-align: -webkit-center;
    }
    @include desktop {
      text-align: -webkit-center;
      width: 40%;
      margin-bottom: pxToRem(0);
    }
    @include media($tablet, 992) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: pxToRem(96);
      width: 100%;
      text-align: -webkit-center;
    }


    
    
  }
  &__image {
    @include media(0, $desktop) {
      display: none;
    }
    @include desktop {
      bottom: pxToRem(-143);
      display: block;
      left: pxToRem(-74);
      max-width: 49.5%;
      position: absolute;
      width: 100%;
    }
    @include media-max(pxToRem(992)) {
      display: none;
    }
  }
  &__header-title {
    @include media(0, $tablet) {
      color: var(--pallete-common-white);
      margin-bottom: pxToRem(21);
    }
    @include media($tablet, $desktop) {
      margin-bottom: pxToRem(22);
      color: var(--pallete-common-white);
    }
    @include desktop {
      max-width: pxToRem(280);
      margin-right: pxToRem(48);
      margin-bottom: pxToRem(25);
      color: var(--pallete-common-white);
    }
  }

  &__header-hint {
    @include media(0, $tablet) {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: pxToRem(13);
      line-height: pxToRem(24);
      letter-spacing: 0.02em;
      color: var(--pallete-common-white);
      margin-block-start: 0em;
      margin-block-end: 0em;
    }
    @include media($tablet, $desktop) {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: pxToRem(15);
      line-height: pxToRem(28);
      text-align: center;
      letter-spacing: 0.02em;
      color: var(--pallete-common-white);
      margin-block-start: 0em;
      margin-block-end: 0em;
    }
    @include desktop {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      text-align: initial;
      padding-top: pxToRem(0);
      padding-top: pxToRem(0);
      width: pxToRem(345);
      margin-left: pxToRem(18);
      letter-spacing: 0.02em;
      color: var(--pallete-common-white);
      margin-block-start: 0em;
      margin-block-end: 0em;
    }
    @include media-max(pxToRem(992)) {
      width: unset;
      margin-left: pxToRem(0);
      margin-left: auto;
      margin-right: auto;
      display: contents;
    }
  }
  &__submit {
    @include media(0, $tablet) {
      text-align: center;
      gap: pxToRem(37);
      align-items: baseline;
      grid-area: 5/1 / span 1 / span 2;
      padding-top: pxToRem(13);
    }
    @include tablet {
      text-align: center;
      gap: pxToRem(37);
      align-items: baseline;
      grid-area: 4/1 / span 1 / span 2;
      padding-top: pxToRem(10);
      height: pxToRem(68);
    }

    .checkbox {
      display: none;
    }
    @include tablet {
      text-align: initial;
      display: flex;
      align-items: end;

      .checkbox {
        @include media(0, $tablet) {
          display: initial;

          cursor: pointer;
          text-decoration: none;
          margin-top: auto;
          margin-bottom: auto;
        }
        @include media($tablet, $desktop) {
          padding-top: pxToRem(21);
          display: initial;

          cursor: pointer;
          text-decoration: none;
          margin-top: auto;
          margin-bottom: auto;
        }
        @include desktop {
          padding-top: pxToRem(18);
          display: initial;

          cursor: pointer;
          text-decoration: none;
          margin-top: auto;
          margin-bottom: auto;
        }

        &:hover,
        :active,
        :focus {
          text-decoration: none !important;
          outline: none !important;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
      }
      .checkbox__label {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: pxToRem(10);
        line-height: pxToRem(15);
        letter-spacing: 0.02em;
        color: var(--pallete-grey-10);
        position: relative;
        cursor: pointer;
      }
      .form__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
      .form__checkbox + .checkbox__label::before {
        content: "";
        display: inline-block;
        width: pxToRem(17);
        height: pxToRem(17);
        flex-shrink: 0;
        flex-grow: 0;
        border: pxToRem(1) solid var(--pallete-common-white);
        margin-right: 1.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        vertical-align: middle;
      }
      .checkbox__label::after {
        content: "";
        display: block;
        border-bottom: pxToRem(1) solid var(--pallete-common-white);
        border-left: pxToRem(1) solid var(--pallete-common-white);
        height: pxToRem(5);
        margin-top: pxToRem(4);
        opacity: 1;
        position: absolute;
        transform: rotate(-45deg);
        width: pxToRem(10);
        top: pxToRem(0);
        left: pxToRem(4);
      }
      .checkbox input:checked + .checkbox__label::after {
        opacity: 0;
        position: absolute;
        top: pxToRem(1);
      }

      .form__checkbox + .checkbox__label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }
    }
  }
  &__wrapper {
    @include media(0, $tablet) {
      @include light-theme {
        background-color: var(--pallete-primary-main);
      }
      @include dark-theme {
        background-color: #2d2b88;
      }

      padding-top: pxToRem(66);
      padding-bottom: pxToRem(52);
    }
    @include media($tablet, $desktop) {
      padding-top: pxToRem(97);
      padding-bottom: pxToRem(104);
      @include light-theme {
        background-color: var(--pallete-primary-main);
      }
      @include dark-theme {
        background-color: #2d2b88;
      }
    }
    @include desktop {
      align-items: center;
      display: flex;
      padding-bottom: pxToRem(143);
      padding-top: pxToRem(133);
      height: 100%;
      position: relative;
      @include light-theme {
        background-color: var(--pallete-primary-main);
      }
      @include dark-theme {
        background-color: #2d2b88;
      }
    }
  }
  &__inputs {
    @include media(0, $tablet) {
      display: grid;
      grid-template-rows: repeat(5, pxToRem(59));
      row-gap: pxToRem(25);
      grid-template-columns: repeat(1, pxToRem(300));
    }
    @include media($tablet, $desktop) {
      display: grid;
      grid-template-rows: repeat(4, pxToRem(59));
      grid-template-columns: repeat(2, pxToRem(261));
      max-width: pxToRem(523);
      column-gap: pxToRem(24);
      row-gap: pxToRem(36);
      margin-left: auto;
      margin-right: auto;
    }
    @include desktop {
      display: flex;
      display: grid;
      flex-direction: column;
      flex-wrap: wrap;
      grid-template-columns: repeat(2, pxToRem(261));
      grid-template-rows: repeat(4, pxToRem(59));
      width: 60%;
      max-height: pxToRem(345);
      margin-left: 0;
      margin-right: 0;
      max-width: pxToRem(573);
      row-gap: pxToRem(36);
      column-gap: pxToRem(24);
    }
    @include media-max(pxToRem(992)) {
      margin-left: auto;
      margin-right: auto;
    }

    .nowrap {
      @include media(0, $tablet) {
        width: 100%;
      }
      @include tablet {
        max-width: pxToRem(236);
        width: 45%;
      }
    }

  }

  &___input-label {
    @include media(0, $tablet) {
      color: var(--pallete-common-white);
      margin-block-start: pxToRem(0);
      margin-block-end: pxToRem(0);

      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: pxToRem(13);
      line-height: pxToRem(16);

      display: block;
    }
    @include tablet {
      color: var(--pallete-common-white);
      margin-block-start: pxToRem(0);
      margin-block-end: pxToRem(0);

      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: pxToRem(15);
      line-height: pxToRem(18);
      display: block;
    }
  }
  &__input {
    @include media(0, $tablet) {
      border: none;
      border-bottom: pxToRem(1) solid var(--pallete-common-white);
      width: 100%;
      color: var(--pallete-common-white);
      padding-bottom: pxToRem(9);
      padding-top: pxToRem(9);
      text-indent: pxToRem(0);
      transition: text-indent 1s;
      @include placeholder-color(rgba(255, 255, 255, 0.3));
      @include placeholder-style(Montserrat, normal, normal, 10px, 12px);
      &:focus {
        @include textarea-animation(-500px, 0.3s);
      }
      &:not(:focus) {
        @include textarea-animation(0px, 0.3s);
      }
      transition: text-indent 3s;
    }
    @include tablet {
      border: none;
      border-bottom: pxToRem(1) solid var(--pallete-common-white);
      width: 100%;
      color: var(--pallete-common-white);
      max-width: pxToRem(523);
      padding-bottom: pxToRem(14);
      padding-top: pxToRem(14);
      text-indent: pxToRem(0);
      transition: text-indent 1s;
      @include placeholder-color(rgba(255, 255, 255, 0.3));
      &:focus {
        @include textarea-animation(-500px, 0.3s);
      }
      &:not(:focus) {
        @include textarea-animation(0px, 0.3s);
      }
      @include placeholder-style(Montserrat, normal, normal, 12, 15);
    }
  }

  &__inputs-name {
    min-width: pxToRem(236);
    grid-area: 1/1 / span 1 / span 2;
  }
  &__inputs-message {
    @include media(0, $tablet) {
      min-width: pxToRem(236);
      grid-area: 4/1 / span 1 / span 2;
    }
    @include tablet {
      min-width: pxToRem(236);
      grid-area: 3/1 / span 1 / span 2;
    }
  }
  &__inputs-email {
    @include media(0, $tablet) {
      min-width: pxToRem(236);
      grid-area: 3/1 / span 1 / span 2;
    }
    @include tablet {
      min-width: pxToRem(236);
      grid-area: 2/2 / span 1 / span 1;
    }
  }
  &__inputs-tel {
    min-width: pxToRem(236);
    grid-area: 2/1 / span 1 / span 2;
  }

  &__textarea {
    @include media(0, $tablet) {
      border: none;
      border-bottom: pxToRem(1) solid var(--pallete-common-white);
      width: 100%;
      color: var(--pallete-common-white);
      padding: pxToRem(0);
      text-indent: pxToRem(0);
      transition: text-indent 1s;
      padding-top: pxToRem(8);
      padding-bottom: pxToRem(8);
      @include placeholder-color(rgba(255, 255, 255, 0.3));
      &:focus {
        @include textarea-animation(-500px, 0.3s);
      }
      &:not(:focus) {
        @include textarea-animation(0px, 0.3s);
      }
    }

    @include media($tablet, $desktop) {
      border: none;
      border-bottom: pxToRem(1) solid var(--pallete-common-white);
      width: 100%;
      color: var(--pallete-common-white);
      max-width: pxToRem(523);
      text-indent: pxToRem(0);
      transition: text-indent 1s;
      padding-top: pxToRem(8);
      padding-bottom: pxToRem(8);
      @include placeholder-color(rgba(255, 255, 255, 0.3));
      &:focus {
        @include textarea-animation(-500px, 0.3s);
      }
      &:not(:focus) {
        @include textarea-animation(0px, 0.3s);
      }
    }
    @include desktop {
      border: none;
      border-bottom: pxToRem(1) solid var(--pallete-common-white);
      width: 100%;
      color: var(--pallete-common-white);
      padding-top: pxToRem(14);
      padding-bottom: pxToRem(11);
      max-width: pxToRem(523);
      text-indent: pxToRem(0);
      transition: text-indent 1s;
      @include placeholder-color(rgba(255, 255, 255, 0.3));
      &:focus {
        @include textarea-animation(-500px, 0.3s);
      }
      &:not(:focus) {
        @include textarea-animation(0px, 0.3s);
      }
    }
  }

  &__button {
    @include media(0, $tablet) {
      background-color: var(--pallete-secondary-main);
      border: var(--pallete-secondary-main);
      width: pxToRem(301);
      height: pxToRem(33);
      color: #000000;
    }
    @include tablet {
      width: pxToRem(171);
      height: pxToRem(41);
      padding: pxToRem(12);
      font-weight: 500;
      font-size: pxToRem(13);
      line-height: pxToRem(16);
      color: #000000;
      background-color: var(--pallete-secondary-main);
      border: var(--pallete-secondary-main);
    }
    &:hover {
      color: var(--pallete-common-white);
      background-color: #90030c;
      border: pxToRem(1) solid #90030c;
    }
    @include light-theme {
      background-color: #e2000d;
      border: #e2000d;
      color: #f6f6f6;
    }
    @include dark-theme {
      background-color: #e2000d;
      border: #e2000d;
      color: #f6f6f6;
    }
  }
}
