#animation-loading:target{
  .content__buttons{
  opacity: 0;
  animation: appearance 1s ease-in-out forwards;  
  animation-delay: 2.25s;
  }
  }
  #animation-loading:target{
    .image__container{
    opacity: 0;
    animation: appearance 1s ease-in-out forwards;  
    animation-delay: 2.5s;
    }
    }
    #animation-loading:target{
      h1{
      opacity: 0;
      animation: appearance 1s ease-in-out forwards;  
      animation-delay:1.75s;
      }
      }
      #animation-loading:target{
        p{
        opacity: 0;
        animation: appearance 1s ease-in-out forwards;  
        animation-delay: 2s;
        }
        }
.hero {
  @include media(0,$tablet){
  padding-bottom: pxToRem(22);
  padding-top: pxToRem(32);
  }
  @include media($tablet,$desktop) {
    padding-bottom: pxToRem(10);
    padding-top: pxToRem(10);
  }
  @include desktop {
    padding-top: pxToRem(26);
    padding-bottom: pxToRem(26);
  }
  .container {
    @include media($tablet,$desktop) {
      padding: pxToRem(0) pxToRem(19);
    }

    @include desktop {
      padding: pxToRem(0) pxToRem(35);
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__content {
    @include media(0,$tablet){
    display: block;
    width: 100%;
    }
    @include tablet {
      width: 50%;
    }
  }


  .hero__image {
    @include media(0,$tablet){
    width: 0%;
    }
    @include tablet {
      width: 50%;
      overflow: hidden;
    }
  }

  .image__container {
    @include media(0,$tablet){
    display: none;
    }
    @include media($tablet,$desktop) {
      display: flex;
      width: 100%;
      overflow: hidden;
      justify-content: center;
      height: auto;
      max-height: pxToRem(289);
      max-width: pxToRem(357);
      #animation-loading:target{
      opacity: 0;
      animation: appearance 1s ease-in-out forwards;  
      animation-delay: 2.5s;
      }
    }
    @include desktop {
      display: flex;
      width: 100%;
      overflow: hidden;
      justify-content: center;
      height: auto;
      max-height: pxToRem(416);
      max-width: pxToRem(451);
      #animation-loading:target{
      opacity: 0;
      animation: appearance 1s ease-in-out forwards;  
      animation-delay: 2.5s;
      }
    }

    .image {
      height: auto;
      object-fit: contain;
      width: 100%;
      animation: hero-image__animation 2s forwards;
      animation-iteration-count: infinite;
  
    }
  }

  &__content {
    h1{
      @include media(0,$tablet){
      margin-bottom: pxToRem(26);
      white-space: nowrap;
      overflow: hidden;
      gap: 10px;
      display: flex;
      }
      @include media($tablet,$desktop){
        margin-bottom: pxToRem(36);
        margin-top: pxToRem(36);
        white-space: nowrap;
        overflow: hidden;
        gap: 10px;
        display: flex;
      }
      @include desktop-extra{
        margin-bottom: pxToRem(31);
        margin-top:pxToRem(68);
        white-space: nowrap;
        overflow: hidden;
        gap: 10px;
        max-width: pxToRem(450);
        display: flex;
      }
      @include media($desktop, 952) {
        font-size: pxToRem(29);
        margin-bottom: pxToRem(36);
        margin-top: pxToRem(36);
        white-space: nowrap;
        overflow: hidden;
        gap: 10px;
        max-width: pxToRem(450);
        display: flex;
      }
      @include media(952,$desktop-extra){
        margin-bottom: pxToRem(31);
        margin-top: pxToRem(68);
        white-space: nowrap;
        overflow: hidden;
        width: 19ch;
        display: flex;
        max-width: pxToRem(450);
        gap: 10px;
      }
      animation: hero-header__typingAnimation 3s steps(38, end),
      hero-header__eraseAnimation 3s infinite steps(38, end) 4.5s;
      
      &::after{
        content: "Креатива";
        // animation: hero-header__eraseAnimation 3.5s steps(10, end);
        // animation-delay: 8.5s;
        animation: hero-header__afterAnimation 15s steps(38, end) infinite 4.5s  alternate;
      }
    }
  }
  p {
    @include media(0,$tablet){
    margin-bottom: pxToRem(25);
    #animation-loading:target{
    opacity: 0;
    animation: appearance 1s ease-in-out forwards;  
    animation-delay: 2s;
    }
    }
    @include media($tablet,$desktop){
      max-width: pxToRem(374);
      margin-bottom: pxToRem(33);
      #animation-loading:target{
      opacity: 0;
      animation: appearance 1s ease-in-out forwards;  
      animation-delay: 2s;
      }
    }
    @include desktop {
      max-width: pxToRem(380);
      width: 100%;
      margin-bottom: pxToRem(54);
      #animation-loading:target{
      opacity: 0;
      animation: appearance 1s ease-in-out forwards;  
      animation-delay: 2s;
      }
    }
  }
  

  .content__buttons {
    @include media(0,$desktop){
    display: flex;
    gap: pxToRem(20);
    align-items: center;
    max-width: pxToRem(380);
    flex-wrap: wrap;
    #animation-loading:target{
    opacity: 0;
    animation: appearance 1s ease-in-out forwards;  
    animation-delay: 2.25s;
    }
    }

    @include media($desktop,952) {
      display: flex;
      gap: pxToRem(5);
      align-items: center;
      max-width: pxToRem(380);
      flex-wrap: wrap;
      #animation-loading:target{
      opacity: 0;
      animation: appearance 1s ease-in-out forwards;  
      animation-delay: 2.25s;
      }
    }
    @include media(952,$desktop-extra){
      display: flex;
      gap: 20px;
      align-items: center;
      max-width: pxToRem(380);
      flex-wrap: wrap;
      #animation-loading:target{
      opacity: 0;
      animation: appearance 1s ease-in-out forwards;  
      animation-delay: 2.25s;
      }
    }
    @include desktop-extra {
      display: flex;
      gap: 20px;
      align-items: center;
      max-width: pxToRem(380);
      flex-wrap: wrap;
      #animation-loading:target{
      opacity: 0;
      animation: appearance 1s ease-in-out forwards;  
      animation-delay: 2.25s;
      }
    }



    .price__button {
      @include light-theme{
      background-color: transparent;
      border: pxToRem(1) solid var(--pallete-primary-main);
      color: var(--pallete-primary-main);
      &:hover {
        color: var(--pallete-common-white);
        background-color: var(--pallete-primary-main);
        border: pxToRem(1) solid var(--pallete-primary-main);
      }
    }
      @include dark-theme{
        border:pxToRem(1) solid #2d2b88;
        color:#2d2b88;
        background-color:transparent;
        &:hover {
          color:var(--pallete-common-white);
          background-color:#2d2b88;
          border:pxToRem(1) solid #2d2b88;
        }
      }
    }
  }
}
