.hero {
  padding-bottom: pxToRem(22);
  padding-top: pxToRem(32);
  @include tablet {
    padding-bottom: pxToRem(10);
    padding-top: pxToRem(10);
  }
  @include desktop {
    padding-top: pxToRem(26);
    padding-bottom: pxToRem(26);
  }
  .container {
    @include tablet {
      padding: ToRem(0) pxToRem(19);
    }

    @include desktop {
      padding: pxToRem(0) pxToRem(35);
    }
  }

  &__wrapper {
    // margin-top: 24pxToRem;
    display: flex;
    width: 100%;

    @include tablet {
      // margin-top: 27pxToRem;
    }

    @include desktop {
      // margin-top: 64pxToRem;
    }
  }

  &__content {
    display: block;
    width: 100%;

    @include tablet {
      width: 50%;
    }
  }


  .hero__image {
    width: 0%;

    @include tablet {
      width: 50%;
      overflow: hidden;
    }
  }

  .image__container {
    display: none;
    //  transition:2s  ease-in-out ;

    @include tablet {
      display: flex;
      max-height:pxToRem(287);
      width: 100%;
      overflow: hidden;
      justify-content: center;
      height: auto;
      max-height: pxToRem(289);
      max-width: pxToRem(357);
    }
    @include desktop {
      max-height: pxToRem(416);
      max-width: pxToRem(451);
    }

    .image {
      height: auto;
      object-fit: contain;
      width: 100%;
    }
  }

  &__content {
    h1{
      margin-bottom: pxToRem(26);
      // margin-top: 10pxToRem;  
      @include tablet{
        margin-bottom: pxToRem(36);
        margin-top: pxToRem(36);
      }
      @include desktop{
        margin-bottom: pxToRem(31);
        margin-top:pxToRem(68);
      }
      @include media(pxToRem(769), pxToRem(952)) {
        font-size: pxToRem(29);
      }
    }
  }
  p {
    margin-bottom: pxToRem(25);
    @include tablet {
      max-width: pxToRem(374);
      margin-bottom: pxToRem(33);
    }
    @include desktop {
      max-width: pxToRem(380);
      width: 100%;
      margin-bottom: pxToRem(54);
    }
  }
  

  .content__buttons {
    // margin-top: 32pxToRem;
    display: flex;
    gap: pxToRem(20);
    align-items: center;

    max-width: pxToRem(380);
    flex-wrap: wrap;
    @include desktop {
    }
    @include media(pxToRem(769), pxToRem(952)) {
      gap: pxToRem(5);
    }



    .price__button {
      background-color: transparent;
      border: pxToRem(1) solid var(--pallete-primary-main);
      color: var(--pallete-primary-main);
      &:hover {
        color: var(--pallete-common-white);
        background-color: var(--pallete-primary-main);
        border: pxToRem(1) solid var(--pallete-primary-main);
      }

    }
  }
}
