.hero {
  .container {
    @include tablet {
      padding: 0 19px;
    }

    @include desktop {
      padding: 0 62px;
    }
  }

  &__wrapper {
    margin-top: 24px;
    display: flex;
    width: 100%;

    @include tablet {
      margin-top: 27px;
    }

    @include desktop {
      margin-top: 64px;
    }
  }

  &__content {
    display: block;
    width: 100%;
    @include tablet {
      width: 50%;
    }
  }

  &__content-text {
    @include tablet {
    }
    @include desktop {
    }
  }

  &__content-image {
    width: 0%;

    @include tablet {
      width: 50%;
      overflow: hidden;
    }
  }

  .content-image {
    display: none;

    @include tablet {
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin-left: 33px;
    }
    @include desktop {
      height: 416px;
      overflow: hidden;
      width: 416px;
      width: 370px;
      margin-left: 40px;
    }

    .image {
      height: 289px;
      object-fit: cover;

      @include desktop {
        height: 416px;
      }
    }
  }

  &__header {
    width: max-content;

    .header {
      @include tablet {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 145%;
        letter-spacing: 0.02em;
      }

      @include desktop {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 145%;
        letter-spacing: 0.02em;
        margin-top: 44px;
      }
    }
  }

  .content-text {
    margin-top: 25px;

    @include tablet {
      margin-top: 36px;
    }

    @include desktop {
      margin-top: 31px;
    }

    .text {
      @include tablet {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 185%;
        letter-spacing: 0.02em;
        width: 374px;
      }

      @include desktop {
        width: 380px;
      }
    }
  }

  &__content-buttons {
    margin-top: 26px;
    display: flex;

    @include tablet {
      margin-top: 37px;
    }

    @include desktop {
      margin-top: 58px;
    }

    .content__button {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.02em;
      min-width: 129px;
      min-height: 33px;
      background-color: $pallete-primary-main;
      border: 1px solid $pallete-primary-main;
      color: $pallete-common-white;
      &:hover {
        color: $pallete-primary-main;
        background-color: transparent;
        border: 1px solid $pallete-primary-main;
      }

      @include desktop {
        min-width: 171px;
        min-height: 41px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.02em;
      }
    }

    .price__btn {
      background-color: transparent;
      border: 1px solid $pallete-primary-main;
      color: $pallete-primary-main;
      &:hover {
        color: $pallete-common-white;
        background-color: $pallete-primary-main;
        border: 1px solid $pallete-primary-main;
      }
    }

    .brief__button,
    .price__button {
      padding-right: 20px;
    }
  }
}
