
.main-block
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 145%;
    letter-spacing: 0.02em;
    z-index: 1;


 

    &__numbers{
      
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 0.02em;
        display: flex;
        position: relative;
        z-index: 1;

        .main-block__ellipse{
    bottom: 89px;
    position: absolute;
    z-index: 0;
    left: 118px;
        
        }

        .main-block__ellipse1{
    bottom: 28px;
    left: 425px;
    position: absolute;
    z-index: 0;
    left: 371px;
            
        
        }

        .main-block__ellipse2{
            bottom: 102px;
            left: 670px;
            position: absolute;
            z-index: 0;
            left: 625px;
            
        
        }

        
        .main-block__ellipse3{
            bottom: 64px;
            left: 905px;
            position: absolute;
            z-index: 0;
            left: 883px;
        }
        }
    .paragraph{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 145%;
    letter-spacing: 0.02em;
    display: flex;
    margin-top: 76px;

}
    

       
     .main-block__textAfterNumber01{
        
        bottom: 60px;
        position: absolute;
        width: 211px;
        z-index: 1;
        left: 66px;
    
     }
     
   




    .main-block__textAfterNumber02{
       
        bottom: 1px;
        font-family: Montserrat;
        position: absolute;
        width: 179px;
        z-index: 1;
        left: 322px;

    }



    .main-block__textAfterNumber03{
       
        bottom: 46px;
        position: absolute;
        width: 192px;
        z-index: 1;
        left: 578px;
     }




    .main-block__textAfterNumber04{
        
        bottom: 37px;
        position: absolute;
        width: 211px;
        z-index: 1;
        left: 834px;
        width: 174px;
     }


   &__number{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 145%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border: 1px ;
    color:transparent;
    mix-blend-mode: multiply;
    -webkit-text-stroke: 1px $pallete-primary-main;
    font-stretch:ultra-expanded;
    z-index: 1;

  
   }
  

   .number1_statement{
    margin-top: 35px;
    margin-left: 67px;
    z-index: 1;
   }

   .number2_statement{
    margin-left: 179px;
    margin-top: 94px;
    z-index: 1;
   }
   .number3_statement{
    margin-left: 165px;
    margin-top: 21px;
    z-index: 1;
}
   
   .number4_statement{
    margin-left: 164px;
    margin-top: 58px;
    z-index: 1;
   }

}