.main-block1{
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 145%;
    letter-spacing: 0.02em;
    display: flex;
    margin-right: 202px;
    justify-content: center;
    margin-top: 56px;

  

    &__text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 185%;
        letter-spacing: 0.02em;
        width: 380px;

        
     }

     &__button1 {
        // font:inherit;
         width: 171px;
         height: 41px;
         color:$pallete-common-white;
         background-color:$pallete-primary-main;
         border:0;
         transition: 1s;
         font-family: Montserrat;
         font-style: normal;
         font-weight: 500;
         font-size: 13px;
         line-height: 16px;
/* identical to box height */

         letter-spacing: 0.02em;
   
 
        &:hover{
         color:$pallete-primary-main;
         background-color:transparent;
      
         border:1px solid $pallete-primary-main;
      
        }
 }
 &__button2{
    // font:inherit;
     width: 171px;
     height: 41px;
     margin-left: 11px;
     color:$pallete-primary-main;
     background-color:transparent;
     border:1px solid $pallete-primary-main;
     transition: 1s;
     font-family: Montserrat;
     font-style: normal;
     font-weight: 500;
     font-size: 13px;
     line-height: 16px;
/* identical to box height */

   letter-spacing: 0.02em;
     
    
 
    &:hover{
     color:$pallete-common-white;
     background-color:$pallete-primary-main;
     border:0;
    
  
    }
 }
  &__image{
     
   
   object-fit: cover;
  }
  &__buttons{
    margin-top:51px;
  }

  &__form{
      margin-top:14px;
      margin-top: 40px;
  }

  &__header{
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 30px;
   line-height: 145%;
   /* identical to box height, or 44px */
   
   letter-spacing: 0.02em;
  }

  .image{
   
   margin-left: 192px;
    
   
  }
}

