.main-block2{
  display: block;;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 145%;
    margin-top: 87px;

    /* identical to box height, or 44px */
    
    letter-spacing: 0.02em;
    &__images{
      display: flex;
    }

    &__image1{
      
        margin-top: 35px;
    }

    &__image2{
        
        margin-right: 15px;
        margin-top: 26px;
    }

    &__image3{
       
        margin-top: 26px;
    }
    &__text{
        margin-top:10px;
        
    }
    &__allExamplesButton{
        width: 171px;
        height: 41px;
        color:$pallete-common-white;
        background-color:$pallete-primary-main;
        border:0;
        transition: 1s; 
        margin-left: 470px;
        margin-top:80px;
        font-family: Montserrat;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.02em;
            

       &:hover{
        color:$pallete-primary-main;
        background-color:transparent;
     
        border:1px solid $pallete-primary-main;
     
       }
    }
}