html[dir="rtl"] {
  .benefits {
    @include media(0, $tablet) {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: pxToRem(10);
      line-height: pxToRem(19);
      letter-spacing: 0.02em;
      padding-right: pxToRem(24);
    }
    @include media($tablet, $desktop) {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: pxToRem(10);
      line-height: pxToRem(19);
      letter-spacing: 0.02em;
      padding-right: pxToRem(21);
    }
    @include desktop {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: pxToRem(15);
      line-height: pxToRem(28);
      letter-spacing: 0.02em;
      padding-right: pxToRem(32);
    }
    &::before {
      @include media(0, $desktop) {
        content: "";
        width: pxToRem(10);
        height: pxToRem(6);
        display: block;
        transform: rotate(-45deg);
        border-bottom: pxToRem(2) solid var(--pallete-secondary-main);
        border-left: pxToRem(2) solid var(--pallete-secondary-main);
        margin-right: pxToRem(-23);
        margin-top: pxToRem(4);
        position: absolute;
      }
      @include desktop {
        content: "";
        display: block;
        height: pxToRem(9);
        transform: rotate(-45deg);
        margin-right: pxToRem(-31);
        margin-top: pxToRem(9);
        border-bottom: pxToRem(2) solid var(--pallete-secondary-main);
        border-left: pxToRem(2) solid var(--pallete-secondary-main);
        width: pxToRem(14);
        position: absolute;
      }
    }
  }
}
.pricesSection {
  @include media(0, $tablet) {
    padding-bottom: pxToRem(66);
    padding-top: pxToRem(66);
  }
  @include media($tablet, $desktop) {
    padding-bottom: pxToRem(65);
    padding-top: pxToRem(65);
  }
  @include desktop {
    padding-bottom: pxToRem(68);
    padding-top: pxToRem(72);
  }
  h2 {
    @include media(0, $tablet) {
      text-align: center;
      width: 100%;
      margin-bottom: pxToRem(38);
    }
    @include media($tablet, $desktop) {
      text-align: center;
      width: 100%;
      margin-bottom: pxToRem(52);
    }
    @include desktop {
      text-align: center;
      width: 100%;
      margin-bottom: pxToRem(65);
    }
  }
  .prices {
    @include media(0, $tablet) {
      margin: 0 auto;
      padding-right: 0;

      justify-content: center;
    }
    @include tablet {
      padding-left: pxToRem(0);
      padding-right: pxToRem(0);
      display: grid;
      justify-content: center;
      flex-wrap: wrap;
      padding-left: 0;
      margin: 0 auto;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 32%);
    }
    // div[class*="hover"]:hover {
    //   background-color: red;
    // }
    div[class*="hover"]:hover {
      &::before {
        @include media(0, $desktop) {
          content: "";
          width: pxToRem(17);
          height: pxToRem(26);
          background-color: var(--pallete-primary-main);
          display: inline-block;
          position: absolute;
          right: pxToRem(18);
          top: 0;
          animation: bookmark__mobileAnimation-Hover 1s ease,
            bookmark__mobileAnimation-HoverDown 0.2s 1s;
        }
        @include desktop {
          content: "";
          width: pxToRem(27);
          height: pxToRem(43);
          right: pxToRem(31);
          background-color: var(--pallete-primary-main);
          display: inline-block;
          position: absolute;
          top: 0;
          // animation-direction:alternate;
          animation: bookmark__animation-Hover 1s ease, bookmark__animation-HoverDown 0.2s 1s;
        }
      }
      &::after {
        @include media(0, $desktop) {
          background-color: inherit;
          content: "";
          display: inline-block;
          height: pxToRem(14);
          position: absolute;
          right: pxToRem(20);
          top: pxToRem(19);
          transform: rotate(45deg);
          width: pxToRem(14);
          animation-direction: alternate;
          animation: bookmarkTip__mobileAnimation-Hover 1s ease,
            bookmarkTip__mobileAnimation-HoverDown 0.2s 1s;
        }
        @include desktop {
          background-color: inherit;
          content: "";
          display: inline-block;
          position: absolute;
          height: pxToRem(20);
          width: pxToRem(20);
          top: pxToRem(33);
          right: pxToRem(34.5);
          transform: rotate(45deg);
          animation-direction: alternate;
          animation: bookmarkTip__animation-Hover 1s ease, bookmarkTip__animation-HoverDown 0.2s 1s;
        }
      }
      div[class*="hover"]:not(:hover) {
        &::before {
          @include media(0, $desktop) {
            content: "";
            width: pxToRem(17);
            height: pxToRem(26);
            background-color: var(--pallete-primary-main);
            display: inline-block;
            position: absolute;
            right: pxToRem(18);
            top: 0;
            animation: bookmark__mobileAnimation-notHover 4s forwards;
          }
          @include desktop {
            content: "";
            width: pxToRem(27);
            height: pxToRem(43);
            right: pxToRem(31);
            background-color: var(--pallete-primary-main);
            display: inline-block;
            position: absolute;
            top: 0;
            // animation-direction:alternate;
            animation: bookmark__animation-notHover 4s forwards;
          }
        }
        &::after {
          @include media(0, $desktop) {
            background-color: inherit;
            content: "";
            display: inline-block;
            height: pxToRem(14);
            position: absolute;
            right: pxToRem(20);
            top: pxToRem(19);
            transform: rotate(45deg);
            width: pxToRem(14);
            animation-direction: alternate;
            animation: bookmarkTip__mobileAnimation-notHover 4s forwards;
          }
          @include desktop {
            background-color: inherit;
            content: "";
            display: inline-block;
            position: absolute;
            height: pxToRem(20);
            width: pxToRem(20);
            top: pxToRem(33);
            right: pxToRem(34.5);
            transform: rotate(45deg);
            animation-direction: alternate;
            animation: bookmarkTip__animation-notHover 4s forwards;
          }
        }
      }
    }
    .pack {
      @include media(0, $tablet) {
        max-width: pxToRem(244);
        border: pxToRem(1) solid var(--pallete-grey-10);
        padding: pxToRem(18);
        height: 100%;
        padding: pxToRem(19) pxToRem(19) pxToRem(34);
        min-height: pxToRem(386);
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
      @include tablet {
        max-width: pxToRem(244);
        border: pxToRem(1) solid var(--pallete-grey-10);
        padding: pxToRem(18);
        height: 100%;
        padding: pxToRem(19) pxToRem(19) pxToRem(34);
        min-height: pxToRem(386);
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }

      @include desktop {
        border: pxToRem(1) solid var(--pallete-grey-10);
        min-height: pxToRem(386);
        margin-left: auto;
        margin-right: auto;
        padding: pxToRem(34) pxToRem(32) pxToRem(48);
        max-width: pxToRem(370);
        width: 100%;
      }

      @include media(641, 740) {
        height: 100%;
      }
      @include media($desktop, 1118) {
        height: 100%;
      }
      &__wrapper {
        @include media(0, $tablet) {
          border-bottom: pxToRem(2) solid var(--pallete-grey-10);
          margin: pxToRem(0) pxToRem(0) pxToRem(25);
          text-align: center;
        }
        @include media($tablet, $desktop) {
          border-bottom: pxToRem(2) solid var(--pallete-grey-10);
          margin: pxToRem(0) pxToRem(0) pxToRem(26);
          text-align: center;
        }
        @include desktop {
          border-bottom: pxToRem(2) solid var(--pallete-grey-10);
          margin: pxToRem(0) pxToRem(0) pxToRem(39) pxToRem(0);
          text-align: center;
        }
      }
      &__header {
        @include media(0, $desktop) {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: pxToRem(10);
          line-height: pxToRem(15);
          letter-spacing: 0.02em;
          margin-block-end: 0em;
          margin-block-start: 0em;
          margin-bottom: pxToRem(25);
        }
        @include desktop {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: pxToRem(15);
          line-height: pxToRem(22);
          margin-bottom: pxToRem(42);
          letter-spacing: 0.02em;
          margin-block-end: 0em;
          margin-block-start: 0em;
        }
      }

      &__price {
        @include media(0, $desktop) {
          display: flex;

          align-items: baseline;
          justify-content: center;
          position: relative;
          gap: pxToRem(5);
          max-width: pxToRem(320);
        }
        @include desktop {
          gap: pxToRem(10);
          max-width: pxToRem(320);
          display: flex;

          align-items: baseline;
          justify-content: center;
          position: relative;
        }
        .grivna::before {
          content: "₴";
        }

        .price {
          @include media(0, $desktop) {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: pxToRem(20);
            line-height: pxToRem(29);
            letter-spacing: 0.02em;
            @include light-theme {
              color: var(--pallete-grey-900);
            }
            @include dark-theme {
              color: var(--pallete-common-white);
            }
          }
          @include desktop {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: pxToRem(30);
            line-height: pxToRem(44);
            letter-spacing: 0.02em;
            @include light-theme {
              color: var(--pallete-grey-900);
            }
            @include dark-theme {
              color: var(--pallete-common-white);
            }
          }
        }
      }
      .hint__bottom {
        @include media(0, $tablet) {
          display: block;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: pxToRem(10);
          line-height: pxToRem(19);
          letter-spacing: 0.02em;
          // color: var(--pallete-grey-10);
          color: #585858;
          margin-block-start: 0em;
          margin-block-end: 0em;
          margin-bottom: pxToRem(22);
        }
        @include media($tablet, $desktop) {
          display: block;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: pxToRem(10);
          line-height: pxToRem(19);
          letter-spacing: 0.02em;
          // color: var(--pallete-grey-10);
          color: #585858;
          margin-block-start: 0em;
          margin-block-end: 0em;
          margin-bottom: pxToRem(20);
        }
        @include desktop {
          display: block;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          letter-spacing: 0.02em;
          // color: var(--pallete-grey-10);
          color: #585858;
          margin-block-start: 0em;
          margin-block-end: 0em;
          font-size: pxToRem(12);
          line-height: pxToRem(22);
          margin-bottom: pxToRem(40);
        }
      }
      .hint {
        @include media(0, $desktop) {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: pxToRem(10);
          line-height: pxToRem(15);
          letter-spacing: 0.02em;
          // color: var(--pallete-grey-10);
          color: #585858;
          margin-block-start: 0em;
          margin-block-end: 0em;
        }
        @include desktop {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: pxToRem(15);
          line-height: pxToRem(22);
          letter-spacing: 0.02em;
          // color: var(--pallete-grey-10);
          color: #585858;
          margin-block-start: 0em;
          margin-block-end: 0em;
        }
      }
      .button {
        @include media(0, $tablet) {
          margin-bottom: pxToRem(29);
          border: pxToRem(1) solid var(--pallete-primary-main);
          color: var(--pallete-primary-main);
          background-color: transparent;
        }
        @include media($tablet, $desktop) {
          border: pxToRem(1) solid var(--pallete-primary-main);
          color: var(--pallete-primary-main);
          background-color: transparent;
          margin-bottom: pxToRem(30);
        }
        @include desktop {
          @include light-theme {
            border: pxToRem(1) solid var(--pallete-grey-900);
            color: var(--pallete-grey-900);
            background-color: transparent;
          }
          @include dark-theme {
            border: pxToRem(1) solid var(--pallete-common-white);
            color: var(--pallete-common-white);
            background-color: transparent;
          }
          padding: pxToRem(12);
          margin-bottom: pxToRem(40);
        }
        &:hover {
          border: pxToRem(1) solid var(--pallete-primary-main);
          color: var(--pallete-common-white);
          background-color: var(--pallete-primary-main);
          // @include dark-theme{
          // color:var(--pallete-common-white);
          // background-color:#2d2b88;
          // border:pxToRem(1) solid #2d2b88;
          //   }
        }
      }

      &__button {
        @include media(0, $tablet) {
          text-align: center;
          justify-content: center;
          align-items: center;
          margin-top: pxToRem(20);
          margin-bottom: pxToRem(30);
        }
        @include media($tablet, $desktop) {
          text-align: center;
          justify-content: center;
          align-items: center;
          margin-bottom: pxToRem(30);
          margin-top: pxToRem(19);
        }
        @include desktop {
          text-align: center;
          justify-content: center;
          align-items: center;
          margin-bottom: pxToRem(40);
          margin-top: pxToRem(40);
        }
      }
      .line {
        @include media(0, $desktop) {
          width: pxToRem(206);
          margin-top: pxToRem(31);
        }
        @include desktop {
          width: pxToRem(306);
          margin-top: pxToRem(41);
        }
      }

      &__benefits {
        .benefits__list {
          @include media(0, $tablet) {
            padding-right: pxToRem(0);
            display: grid;
            row-gap: pxToRem(9);
          }
          @include media($tablet, $desktop) {
            padding-right: pxToRem(0);
            display: grid;
            row-gap: pxToRem(9);
          }
          @include desktop {
            padding-right: pxToRem(0);
            display: grid;
            row-gap: pxToRem(9);
          }
        }

        .benefits {
          @include media(0, $tablet) {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: pxToRem(10);
            line-height: pxToRem(19);
            letter-spacing: 0.02em;

            padding-left: pxToRem(24);
          }
          @include media($tablet, $desktop) {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: pxToRem(10);
            line-height: pxToRem(19);
            letter-spacing: 0.02em;
            padding-left: pxToRem(21);
          }
          @include desktop {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: pxToRem(15);
            line-height: pxToRem(28);
            letter-spacing: 0.02em;
            padding-left: pxToRem(32);
          }
          &::before {
            @include media(0, $desktop) {
              content: "";
              width: pxToRem(10);
              height: pxToRem(6);
              display: block;
              transform: rotate(-45deg);
              border-bottom: pxToRem(2) solid var(--pallete-secondary-main);
              border-left: pxToRem(2) solid var(--pallete-secondary-main);
              margin-left: pxToRem(-23);
              margin-top: pxToRem(4);
              position: absolute;
            }
            @include desktop {
              content: "";
              display: block;
              height: pxToRem(9);
              transform: rotate(-45deg);
              margin-left: pxToRem(-31);
              margin-top: pxToRem(9);
              border-bottom: pxToRem(2) solid var(--pallete-secondary-main);
              border-left: pxToRem(2) solid var(--pallete-secondary-main);
              width: pxToRem(14);
              position: absolute;
            }
          }
        }
        .benefit__bold {
          @include media(0, $desktop) {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: pxToRem(10);
            line-height: pxToRem(19);
            letter-spacing: 0.02em;
          }
          @include desktop {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: pxToRem(15);
            line-height: pxToRem(28);
            letter-spacing: 0.02em;
          }
        }
      }
    }

    .grivna {
      .currency {
        opacity: 1;
      }
    }

    .hover {
      border: pxToRem(1) solid var(--pallete-primary-main);
      position: relative;
      background-color: var(--pallete-common-white-20);
      @include light-theme {
        background-color: var(--pallete-common-white-20);
      }
      @include dark-theme {
        background-color: var(--pallete-grey-900);
      }

      &::before {
        @include media(0, $desktop) {
          content: "";
          width: pxToRem(17);
          height: pxToRem(26);
          background-color: var(--pallete-primary-main);
          display: inline-block;
          position: absolute;
          right: pxToRem(18);
          top: 0;
        }
        @include desktop {
          content: "";
          width: pxToRem(27);
          height: pxToRem(43);
          right: pxToRem(31);
          background-color: var(--pallete-primary-main);
          display: inline-block;
          position: absolute;
          top: 0;
        }
      }
      &::after {
        @include media(0, $desktop) {
          background-color: inherit;
          content: "";
          display: inline-block;
          height: pxToRem(13.5);
          position: absolute;
          right: pxToRem(20);
          top: pxToRem(19);
          transform: rotate(45deg);
          width: pxToRem(13.5);
        }
        @include desktop {
          background-color: inherit;
          content: "";
          display: inline-block;
          position: absolute;
          height: pxToRem(20);
          width: pxToRem(20);
          top: pxToRem(33);
          right: pxToRem(34.5);
          transform: rotate(45deg);
        }
      }
      .button {
        color: var(--pallete-primary-main);
        border: pxToRem(1) solid var(--pallete-primary-main);
        &:hover {
          border: pxToRem(1) solid var(--pallete-primary-main);
          background-color: var(--pallete-primary-main);
          color: var(--pallete-common-white);
          //   @include dark-theme{
          //     color:var(--pallete-common-white);
          //     background-color:#2d2b88;
          //     border:pxToRem(1) solid #2d2b88;
          //       }
        }
      }
    }
    // &:hover{
    //   .hover::before {
    //     @include media(0,$desktop){
    //     content: "";
    //     width: pxToRem(17);
    //     height: pxToRem(26);
    //     background-color: var(--pallete-primary-main);
    //     display: inline-block;
    //     position: absolute;
    //     right: pxToRem(18);
    //     top: 0;
    //     animation: bookmark__mobileAnimation-Hover 1s ease ,bookmark__mobileAnimation-HoverDown 0.2s 1s;
    //     }
    //     @include desktop {
    //       content: "";
    //       width: pxToRem(27);
    //       height: pxToRem(43);
    //       right: pxToRem(31);
    //       background-color: var(--pallete-primary-main);
    //     display: inline-block;
    //     position: absolute;
    //     top: 0;
    //     // animation-direction:alternate;
    //     animation: bookmark__animation-Hover 1s ease ,bookmark__animation-HoverDown 0.2s 1s;
    //     }
    //   }
    //   .hover::after {
    //     @include media(0,$desktop){
    //     background-color: inherit;
    //     content: "";
    //     display: inline-block;
    //     height: pxToRem(14);
    //     position: absolute;
    //     right: pxToRem(20);
    //     top: pxToRem(19);
    //     transform: rotate(45deg);
    //     width: pxToRem(14);
    //     animation-direction:alternate;
    //     animation: bookmarkTip__mobileAnimation-Hover 1s ease,bookmarkTip__mobileAnimation-HoverDown 0.2s 1s;
    //     }
    //     @include desktop {
    //       background-color: inherit;
    //       content: "";
    //       display: inline-block;
    //       position: absolute;
    //       height: pxToRem(20);
    //       width: pxToRem(20);
    //       top: pxToRem(33);
    //       right: pxToRem(34.5);
    //       transform: rotate(45deg);
    //        animation-direction:alternate;
    //        animation: bookmarkTip__animation-Hover 1s ease,bookmarkTip__animation-HoverDown 0.2s 1s;
    //     }
    //   }
    // }
    // .hover:not(:hover){
    //   .hover::before {
    //     @include media(0,$desktop){
    //     content: "";
    //     width: pxToRem(17);
    //     height: pxToRem(26);
    //     background-color: var(--pallete-primary-main);
    //     display: inline-block;
    //     position: absolute;
    //     right: pxToRem(18);
    //     top: 0;
    //     animation: bookmark__mobileAnimation-notHover 4s forwards;
    //     }
    //     @include desktop {
    //       content: "";
    //       width: pxToRem(27);
    //       height: pxToRem(43);
    //       right: pxToRem(31);
    //       background-color: var(--pallete-primary-main);
    //     display: inline-block;
    //     position: absolute;
    //     top: 0;
    //     // animation-direction:alternate;
    //     animation: bookmark__animation-notHover 4s forwards;
    //     }
    //   }
    //   .hover::after {
    //     @include media(0,$desktop){
    //     background-color: inherit;
    //     content: "";
    //     display: inline-block;
    //     height: pxToRem(14);
    //     position: absolute;
    //     right: pxToRem(20);
    //     top: pxToRem(19);
    //     transform: rotate(45deg);
    //     width: pxToRem(14);
    //     animation-direction:alternate;
    //     animation: bookmarkTip__mobileAnimation-notHover 4s forwards;
    //     }
    //     @include desktop {
    //       background-color: inherit;
    //       content: "";
    //       display: inline-block;
    //       position: absolute;
    //       height: pxToRem(20);
    //       width: pxToRem(20);
    //       top: pxToRem(33);
    //       right: pxToRem(34.5);
    //       transform: rotate(45deg);
    //        animation-direction:alternate;
    //        animation: bookmarkTip__animation-notHover 4s forwards;
    //     }
    //   }
    // }
    // div[class="pack"]:first-child {
    //   @include tablet{
    //   border-right: 0;
    //   }
    // }
    .hover {
      @include tablet {
        position: relative;
        z-index: 1000 !important;
        margin-left: -1px;
      }
    }
    div[class="pack"]:last-child {
      margin-top: -1px;
      @include tablet {
        margin-left: -2px;
        position: relative;
        z-index: 1;
        margin-top: 0;
      }
    }
    // .hover +.pack{
    //   @include tablet{
    //     margin-left: -2px;
    //     position: relative;
    //     z-index: 1;
    //   }
    // }
    div:nth-child(1n) {
      @include tablet {
        position: relative;
        // z-index: 1000;
        margin-left: 0px;
      }
    }
    div:nth-child(3n + 2) {
      margin-top: -1px;
      @include tablet {
        margin-left: -1px;
        position: relative;
        z-index: 10;
      }
    }
    div:nth-child(3n) {
      margin-top: -1px;
      @include tablet {
        margin-left: -2px;
        position: relative;
        z-index: 1;
      }
    }
    div:nth-child(n + 4) {
      margin-top: -1px;
      @include tablet {
        margin-top: -1px;
      }
    }
    // .hover+.pack+.pack{
    //   @include tablet{
    //   border-right: 0;
    //   }
    // }
  }
}
