.pricesSection {
  @include media(0,$tablet){
  padding-bottom: pxToRem(66);
  padding-top:pxToRem(66);
  }
  @include media($tablet,$desktop){
    padding-bottom: pxToRem(65);
    padding-top: pxToRem(65);
  }
  @include desktop {
    padding-bottom: pxToRem(68);
    padding-top: pxToRem(72);
  }
  h2 {
    @include media(0,$tablet){
    text-align: center;
    width: 100%;
    margin-bottom: pxToRem(38);
    }
    @include media($tablet,$desktop){
      // max-width: 60pxToRem;
      text-align: center;
      width: 100%;
      margin-bottom: pxToRem(52);
    }
    @include desktop {
      text-align: center;
      width: 100%;
      margin-bottom: pxToRem(65);

    }
  }
  .prices {
    // justify-content: center;
    // padding-left: 29pxToRem;
    // padding-right: 27pxToRem;
    // width: max-content;
    @include media(0,$tablet){
    margin: 0 auto;   
    padding-right: 0;

    justify-content: center;
    }
    @include tablet {
      padding-left: pxToRem(0);
      padding-right: pxToRem(0);
      // margin-top: 52pxToRem;
      display: grid;
   justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0 auto;   
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3,32%);
    }

    .pack {
      @include media(0,$tablet){
      max-width: pxToRem(244);
      // min-height: 386pxToRem;
      border: pxToRem(1) solid var(--pallete-grey-10);
      padding: pxToRem(18);
      height: 100%;
      padding:pxToRem(19) pxToRem(19) pxToRem(34);
      min-height: pxToRem(386);
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      }
      @include tablet{
        max-width: pxToRem(244);
        // min-height: 386pxToRem;
        border: pxToRem(1) solid var(--pallete-grey-10);
        padding: pxToRem(18);
        height: 100%;
        padding:pxToRem(19) pxToRem(19) pxToRem(34);
        min-height: pxToRem(386);
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
 
      @include desktop {
        // min-height: 552pxToRem;
        border: pxToRem(1) solid var(--pallete-grey-10);
        min-height: pxToRem(386);
        margin-left: auto;
        margin-right: auto;
        padding: pxToRem(34) pxToRem(32) pxToRem(48);
        max-width: pxToRem(370);
        width: 100%;
      }
 
      @include media(641,740){
        // min-height: 443pxToRem;
        height: 100%;
     }
      @include media($desktop,1118){
        // min-height: 653pxToRem;
        height: 100%;
     }
      &__wrapper {
        @include media(0,$tablet){
        border-bottom: pxToRem(2) solid var(--pallete-grey-10);
        margin: pxToRem(0) pxToRem(0) pxToRem(25);
        // margin: 21pxToRem;
        text-align: center;
        }
        @include media($tablet,$desktop) {
          // margin: 19pxToRem;
          border-bottom: pxToRem(2) solid var(--pallete-grey-10);
          margin: pxToRem(0) pxToRem(0) pxToRem(26);
          text-align: center;
        }
        @include desktop {
          border-bottom: pxToRem(2) solid var(--pallete-grey-10);
          margin: pxToRem(0) pxToRem(0) pxToRem(39) pxToRem(0);
          // margin: 32pxToRem;
          text-align: center;
        }
      }
      &__header{
        @include media(0,$desktop){
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: pxToRem(10);
        line-height: pxToRem(15);
        letter-spacing: 0.02em;
        margin-block-end: 0em;
        margin-block-start: 0em;
        margin-bottom:pxToRem(25);
        }
        @include desktop{
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: pxToRem(15);
          line-height: pxToRem(22);
          margin-bottom:pxToRem(42);
          letter-spacing: 0.02em;
          margin-block-end: 0em;
          margin-block-start: 0em;
          
        }
      }

      &__price {
        @include media(0,$desktop){
        display: flex;

        align-items: baseline;
        justify-content: center;
        position: relative;
        // margin-top: 22pxToRem;
        gap: pxToRem(5);
        // margin-right: 17pxToRem;
        max-width: pxToRem(320);
        }
        @include tablet {
          // margin-top: 21pxToRem;
        }
        @include desktop {
          // margin-top: 43pxToRem;
          gap: pxToRem(10);
          max-width: pxToRem(320);
          display: flex;

          align-items: baseline;
          justify-content: center;
          position: relative;
        }
        .grivna::before {
          content: "₴";
        }
        .hint__bottom{
         
        }
        

        .price {
          @include media(0,$desktop){
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: pxToRem(20);
          line-height: pxToRem(29);
          letter-spacing: 0.02em;
          color: var(--pallete-grey-900);
          // padding-right: 12pxToRem;
          // padding-top: 7pxToRem;
          // margin-top: 4pxToRem;
          // margin-right: 15pxToRem;
          }
          @include desktop {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: pxToRem(30);
            line-height: pxToRem(44);
            letter-spacing: 0.02em;
          color: var(--pallete-grey-900);
            // margin-top: 10pxToRem;
            // margin-right: 0pxToRem;
          }
        }
      }
      .hint__bottom {
        @include media(0,$tablet){
        display: block;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: pxToRem(10);
        line-height: pxToRem(19);
        letter-spacing: 0.02em;
        color: var(--pallete-grey-10);
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-bottom: pxToRem(22);
        }
        @include media($tablet,$desktop){
          display: block;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: pxToRem(10);
          line-height: pxToRem(19);
          letter-spacing: 0.02em;
          color: var(--pallete-grey-10);
          margin-block-start: 0em;
          margin-block-end: 0em;
          margin-bottom: pxToRem(20);
        }
        @include desktop {

          display: block;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          letter-spacing: 0.02em;
          color: var(--pallete-grey-10);
          margin-block-start: 0em;
          margin-block-end: 0em;
          font-size: pxToRem(12);
          line-height: pxToRem(22);
          margin-bottom: pxToRem(40);
     
        }
      }
      .hint {
        @include media(0,$desktop){
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: pxToRem(10);
        line-height: pxToRem(15);
        letter-spacing: 0.02em;
        color: var(--pallete-grey-10);
        margin-block-start: 0em;
        margin-block-end: 0em;
        }
        @include desktop {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size:pxToRem(15);
          line-height: pxToRem(22);
          letter-spacing: 0.02em;
          color: var(--pallete-grey-10);
          margin-block-start: 0em;
          margin-block-end: 0em;
        }
      }
      .button {
        @include media(0,$tablet){
          margin-bottom: pxToRem(29);
          border: pxToRem(1) solid var(--pallete-primary-main);
          color: var(--pallete-primary-main);
          background-color: transparent;
        }
        @include media($tablet,$desktop){
          // margin-bottom: 29pxToRem;
          border: pxToRem(1) solid var(--pallete-primary-main);
          color: var(--pallete-primary-main);
          background-color: transparent;
          margin-bottom: pxToRem(30);
          
        }
        @include desktop {
          border: pxToRem(1) solid var(--pallete-grey-900);
          color: var(--pallete-grey-900);
          background-color: transparent;
          padding: pxToRem(12);
          margin-bottom: pxToRem(40);
        }
      }
      &__button {
        @include media(0,$tablet){
        text-align: center;
        justify-content: center;
        align-items: center;
        // padding-top: 21pxToRem;
        margin-top: pxToRem(20);
        margin-bottom: pxToRem(30);
        }
        @include media($tablet,$desktop) {
          text-align: center;
          justify-content: center;
          align-items: center;
          margin-bottom: pxToRem(30);
          margin-top: pxToRem(19);
        }
        @include desktop {
          // padding-top: 36pxToRem;
          text-align: center;
          justify-content: center;
          align-items: center;
          margin-bottom: pxToRem(40);
          margin-top: pxToRem(40);
        }
      
      }
      .line {
        @include media(0,$desktop){
        width: pxToRem(206);
        margin-top: pxToRem(31);
        }
        @include desktop {
          width: pxToRem(306);
          margin-top: pxToRem(41);
        }
      }
 
   
      &__benefits {
        .benefits__list {
          // padding: 1pxToRem 7pxToRem;
          @include media(0,$tablet){
          padding-right: pxToRem(0);
          display: grid;
          row-gap: pxToRem(9); 
          }
          @include media($tablet,$desktop) {
            // padding: 0pxToRem 13pxToRem;
            padding-right: pxToRem(0);
            display: grid;
            row-gap: pxToRem(9); 
          }
          @include desktop {
            // padding: 0pxToRem 0 0pxToRem 11pxToRem;
            padding-right: pxToRem(0);
            display: grid;
            row-gap: pxToRem(9); 
         
          }
        
        }

        .benefits {
          @include media(0,$tablet){
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: pxToRem(10);
          line-height: pxToRem(19);
          letter-spacing: 0.02em;
          // padding-left: 41pxToRem;
          // margin-block-end: 9pxToRem;
          // margin-block-start: 4pxToRem;
          padding-left: pxToRem(24);
          }
          @include media($tablet,$desktop) {
            // margin-block-end: 10pxToRem;
            // margin-block-start: 8pxToRem;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: pxToRem(10);
            line-height: pxToRem(19);
            letter-spacing: 0.02em;
            padding-left: pxToRem(21);
          }
          @include desktop {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: pxToRem(15);
            line-height: pxToRem(28);
            letter-spacing: 0.02em;
            // margin-block-start: 8pxToRem;

            // margin-block-end: 9pxToRem;
            padding-left: pxToRem(32);
          }
          // &::marker {
          //   content: url(../../../uploads/check.svg);

          //   position: absolute;
          //   @include desktop {
          //   }
          // }
          &::before {
            @include media(0,$desktop){
            content: "";
            width: pxToRem(10);
            height: pxToRem(6);
            display: block;
            transform: rotate(-45deg);
            border-bottom: pxToRem(2) solid var(--pallete-secondary-main);
            border-left: pxToRem(2) solid var(--pallete-secondary-main);
            margin-left: pxToRem(-23);
            margin-top: pxToRem(4);
            position: absolute;
            }
            @include desktop {
              content: "";
              display: block;
              height:pxToRem(9);
              transform: rotate(-45deg);
              margin-left: pxToRem(-31);
              margin-top: pxToRem(9);
              border-bottom: pxToRem(2) solid var(--pallete-secondary-main);
              border-left: pxToRem(2) solid var(--pallete-secondary-main);
              width: pxToRem(14);
              position: absolute;
            }
          }
        }
        .benefit__bold{
          @include media(0,$desktop){
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: pxToRem(10);
          line-height: pxToRem(19);
          letter-spacing: 0.02em;
          }
          @include desktop{
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: pxToRem(15);
          line-height: pxToRem(28);
          letter-spacing: 0.02em;
          }
        
        }
      }
    }

    .grivna {
      .currency {
        opacity: 1;
      }
    }
    // .currency{
    //   font-family: Montserrat;
    //   font-style: normal;
    //   font-weight: bold;
    //   font-size: 20pxToRem;
    //   line-height: 145%;
    //   letter-spacing: 0.02em;
    //   opacity: 0;
    //   @include desktop{
    //     font-family: Montserrat;
    //     font-size: 30pxToRem;
    //     font-style: normal;
    //     font-weight: 700;
    //     letter-spacing: .02em;
    //     line-height: 145%;
    //     margin-top: 10pxToRem;
    //     opacity: 0;
    //   }
    // }

    .hover {
      border: pxToRem(1) solid var(--pallete-primary-main);
      position: relative;
      background-color: var(--pallete-common-white-20);
   
      &::before {
        @include media(0,$desktop){
        content: "";
        width: pxToRem(17);
        height: pxToRem(26);
        background-color: var(--pallete-primary-main);
        display: inline-block;
        position: absolute;
        right: pxToRem(18);
        top: 0;
        }
        @include desktop {
          content: "";
          width: pxToRem(27);
          height: pxToRem(43);
          right: pxToRem(31);
          background-color: var(--pallete-primary-main);
        display: inline-block;
        position: absolute;
        top: 0;
        }
      }
      &::after {
        @include media(0,$desktop){
        background-color: inherit;
        content: "";
        display: inline-block;
        height: pxToRem(14);
        position: absolute;
        right: pxToRem(20);
        top: pxToRem(19);
        transform: rotate(45deg);
        width: pxToRem(14);
        }
        @include desktop {
          background-color: inherit;
          content: "";
          display: inline-block;
          position: absolute;
          height: pxToRem(20);
          width: pxToRem(20);
          top: pxToRem(33);
          right: pxToRem(34);
          transform: rotate(45deg);
        }
      }
      .button {
        color: var(--pallete-primary-main);
        border: pxToRem(1) solid var(--pallete-primary-main);
        &:hover {
          border: pxToRem(1) solid var(--pallete-primary-main);
          background-color: var(--pallete-primary-main);
          color: var(--pallete-common-white);
        }
      }
    }
  }
}
