html[dir="rtl"] {
}

#animation-loading:target {
  h2 {
    opacity: 0;
    animation: appearance 1s ease-in-out forwards;
    animation-delay: 2.75s;
  }
}

#animation-loading:target {
  .stage:nth-child(1),
  .stage:nth-child(5n) {
    opacity: 0;
    animation: appearance 1s ease-in-out forwards;
    animation-delay: 3s;
  }
}

#animation-loading:target {
  .stage:nth-child(2),
  .stage:nth-child(6n) {
    opacity: 0;
    animation: appearance 1s ease-in-out forwards;
    animation-delay: 3.1s;
  }
}

#animation-loading:target {
  .stage:nth-child(3),
  .stage:nth-child(7n) {
    opacity: 0;
    animation: appearance 1s ease-in-out forwards;
    animation-delay: 3.2s;
  }
}

#animation-loading:target {
  .stage:nth-child(4),
  .stage:nth-child(8n) {
    opacity: 0;
    animation: appearance 1s ease-in-out forwards;
    animation-delay: 3.3s;
  }
}

#animation-loading:target {
  .processDevelopment__slider {
    opacity: 0;
    animation: appearance 1s ease-in-out forwards;
    animation-delay: 3.4s;
  }
}

.process-development {
  @include media(0, $tablet) {
    padding-bottom: pxToRem(55);
    padding-top: pxToRem(55);
  }

  @include media($tablet, $desktop) {
    padding-bottom: pxToRem(55);
    padding-top: pxToRem(96);
  }

  @include desktop {
    padding-bottom: pxToRem(12);
    padding-top: pxToRem(52);
  }

  @media print{
   .processDevelopment__slider{
     display: none;
   }
  }
  .container {
    @include media($tablet, $desktop) {
      padding: pxToRem(0) pxToRem(19);
    }

    @include desktop {
      padding: pxToRem(0) pxToRem(35);
    }
  }
  &__title {
    @include media(0, $tablet) {
      width: 64%;
      font-size: pxToRem(13);
      line-height: pxToRem(19);
      margin-bottom: pxToRem(18);
    }

    @include media($tablet, $desktop) {
      font-size: pxToRem(20);
      width: 100%;
      max-width: none;
      line-height: pxToRem(29);
      margin-bottom: pxToRem(39);
    }

    @include desktop {
      font-size: pxToRem(30);
      width: 100%;
      max-width: none;
      line-height: pxToRem(44);
      margin-bottom: pxToRem(49);
      margin-bottom: pxToRem(29);
    }
  }
  &__stages {
    @include media(0, $tablet) {
      display: flex;
      padding: pxToRem(0) pxToRem(93);
      gap: pxToRem(45);
      padding-top: pxToRem(10);
      padding-bottom: pxToRem(10);
    }

    @include media($tablet, $desktop) {
      display: flex;
      padding: pxToRem(0) pxToRem(30);
      gap: pxToRem(45);
      padding-top: pxToRem(10);
      padding-bottom: pxToRem(10);
    }

    @include desktop {
      display: flex;
      padding: pxToRem(0) pxToRem(93);
      overflow-x: overlay;
      overflow-y: hidden;
      gap: pxToRem(45);
      padding-top: pxToRem(20);
      padding-bottom: pxToRem(40);
      &::-webkit-scrollbar {
        width: pxToRem(0);
      }
    }
  }
  &__stages-container {
    @include media(0, $tablet) {
      display: flex;
      overflow-y: hidden;
      overflow-x: overlay;
      scrollbar-width: none;
      margin-left: pxToRem(-25);
      margin-right: pxToRem(-25);
      margin-bottom: pxToRem(13);
    }

    @include media($tablet, $desktop) {
      display: flex;
      overflow-y: hidden;
      overflow-x: overlay;
      scrollbar-width: none;
      margin-left: pxToRem(-25);
      margin-right: pxToRem(-25);
      margin-bottom: pxToRem(41);
    }

    @include desktop {
      display: flex;
      overflow-y: hidden;
      overflow-x: overlay;
      scrollbar-width: none;
      margin-left: pxToRem(-25);
      margin-right: pxToRem(-25);
      margin-bottom: pxToRem(22);
    }
    .ellipse {
      @include media(0, $desktop) {
        width: pxToRem(85);
        height: pxToRem(85);
        border-radius: 50%;
        display: flex;
        position: absolute;
        z-index: -1;

        @include light-theme {
          background: var(--pallete-common-white-10);
        }
        
        @include dark-theme {
          background: var(--pallete-primary-main);
          opacity: 0.1;
        }
      }
      @include desktop {
        width: pxToRem(113);
        height: pxToRem(113);
        border-radius: 50%;
        display: flex;
        position: absolute;
        z-index: -1;

        @include light-theme {
          background: var(--pallete-common-white-10);
        }

        @include dark-theme {
          background: var(--pallete-primary-main);
          opacity: 0.1;
        }
      }
    }
  }
  &__stage:hover {
    &:nth-child(1) {
      .stage__ellipse {
        @include media(0, $tablet) {
          transform: scale(1.8);
          transition: 0.5s;
        }

        @include media($tablet, $desktop) {
          transition: 0.5s;
          left: pxToRem(19);
          top: pxToRem(40);
          transform: scale(1.8);
        }

        @include desktop {
          transform: scale(2.2);
          transition: 0.5s;
          left: pxToRem(19);
          top: pxToRem(40);
        }
      }
    }
    &:nth-child(2) {
      .stage__ellipse {
        @include media(0, $tablet) {
          transform: scale(1.8);
          transition: 0.5s;
        }

        @include media($tablet, $desktop) {
          top: pxToRem(15);
          left: pxToRem(30);
          transition: 0.5s;
          transform: scale(1.8);
        }

        @include desktop {
          top: pxToRem(15);
          left: pxToRem(30);
          transition: 0.5s;
          transform: scale(2.2);
        }
      }
    }
    &:nth-child(3) {
      .stage__ellipse {
        @include media(0, $tablet) {
          transform: scale(1.8);
          transition: 0.5s;
        }

        @include media($tablet, $desktop) {
          left: pxToRem(40);
          top: pxToRem(50);
          transition: 0.5s;
          transform: scale(1.8);
        }

        @include desktop {
          left: pxToRem(40);
          top: pxToRem(50);
          transition: 0.5s;
          transform: scale(2.2);
        }
      }
    }
    &:nth-child(4) {
      .stage__ellipse {
        @include media(0, $tablet) {
          transform: scale(1.8);
          transition: 0.5s;
        }

        @include media($tablet, $desktop) {
          transform: scale(1.8);
          transition: 0.5s;
          left: pxToRem(30);
        }

        @include desktop {
          transform: scale(2.2);
          transition: 0.5s;
          left: pxToRem(30);
        }
      }
    }
  }
  &__stage:not(:hover) {
    .stage__ellipse {
      transform: scale(1);
      transition: 0.5s;
      left: pxToRem(47);
    }
  }
  &__stage:nth-child(1),
  &__stage:nth-child(5n) {
    @include media(0, $tablet) {
      position: relative;
      z-index: 1;
    }

    @include media($tablet, $desktop) {
      margin-top: pxToRem(9);
      position: relative;
      z-index: 1;
    }

    @include desktop {
      margin-top: pxToRem(14);
      position: relative;
      z-index: 1;
    }
    .stage__ellipse {
      @include media(0, $tablet) {
        left: pxToRem(35);
        top: pxToRem(26);
      }

      @include media($tablet, $desktop) {
        left: pxToRem(33);
        top: pxToRem(25);
      }

      @include desktop {
        width: pxToRem(113);
        height: pxToRem(113);
        left: pxToRem(47);
        top: pxToRem(30);
      }
    }
  }
  &__stage:nth-child(2),
  &__stage:nth-child(6n) {
    @include media(0, $tablet) {
      position: relative;
      z-index: 1;
    }

    @include media($tablet, $desktop) {
      margin-top: pxToRem(56);
      position: relative;
      z-index: 1;
    }

    @include desktop {
      margin-top: pxToRem(71);
      position: relative;
      z-index: 1;
    }
    .stage__ellipse {
      @include media(0, $tablet) {
        left: pxToRem(35);
        top: pxToRem(24);
      }

      @include media($tablet, $desktop) {
        left: pxToRem(33);
        top: pxToRem(30);
      }

      @include desktop {
        width: pxToRem(113);
        height: pxToRem(113);
        left: pxToRem(47);
        top: pxToRem(31);
      }
    }
    .text {

      @include desktop {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: pxToRem(15);
        line-height: pxToRem(28);
        letter-spacing: 0.02em;
      }

      &:nth-child(3) {
        width: pxToRem(218);
      }
    }
  }
  &__stage:nth-child(3),
  &__stage:nth-child(7n) {
    @include media(0, $tablet) {
      position: relative;
      z-index: 1;
    }

    @include media($tablet, $desktop) {
      position: relative;
      z-index: 1;
    }

    @include desktop {
      position: relative;
      z-index: 1;
    }

    .stage__ellipse {
      @include media(0, $tablet) {
        left: pxToRem(35);
        top: pxToRem(24);
      }

      @include media($tablet, $desktop) {
        left: pxToRem(34);
        top: pxToRem(31);
      }

      @include desktop {
        width: pxToRem(113);
        height: pxToRem(113);
        left: pxToRem(47);
        top: pxToRem(30);
      }
    }
  }
  &__stage:nth-child(4),
  &__stage:nth-child(8n) {
    @include media(0, $tablet) {
      position: relative;
      z-index: 1;
    }

    @include media($tablet, $desktop) {
      margin-top: pxToRem(10);
      position: relative;
      z-index: 1;
    }

    @include desktop {
      margin-top: pxToRem(37);
      position: relative;
      z-index: 1;
    }

    .stage__ellipse {

      @include media(0, $tablet) {
        left: pxToRem(35);
        top: pxToRem(24);
      }

      @include media($tablet, $desktop) {
        left: pxToRem(33);
        top: pxToRem(25);
      }

      @include desktop {
        width: pxToRem(113);
        height: pxToRem(113);
        left: pxToRem(47);
        top: pxToRem(30);
      }
    }
  }
  &__stage-number {

    @include media(0, $desktop) {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 900;
      font-size: pxToRem(50);
      line-height: pxToRem(73);
      letter-spacing: 0.02em;
      text-transform: uppercase;
      border: pxToRem(1);
      color: transparent;
      mix-blend-mode: multiply;
      -webkit-text-stroke: pxToRem(1) var(--pallete-primary-main);
      font-stretch: ultra-expanded;
      z-index: 1;
      margin-bottom: pxToRem(10);
    }

    @include desktop {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 900;
      font-size: pxToRem(70);
      margin-bottom: pxToRem(0);
      letter-spacing: 0.02em;
      text-transform: uppercase;
      border: pxToRem(1);
      color: transparent;
      mix-blend-mode: multiply;
      -webkit-text-stroke: pxToRem(1) var(--pallete-primary-main);
      font-stretch: ultra-expanded;
      z-index: 1;
      line-height: pxToRem(102);
    }
  }

  &__stages-container::-webkit-scrollbar {
    width: 0;
  }

  p {
    @include media(0, $tablet) {
      width: pxToRem(196);
      z-index: 1;
      line-height: pxToRem(28);
    }

    @include media($tablet, $desktop) {
      width: pxToRem(210);
      z-index: 1;
      line-height: pxToRem(28);
    }

    @include desktop {
      padding-top: pxToRem(0);
      width: pxToRem(210);
      z-index: 1;
      line-height: pxToRem(28);
    }
  }

  &__slider {

    @include media(0, $tablet) {
      display: flex;
      width: 100%;
    }

    @include media($tablet, 1279) {
      margin-top: pxToRem(25);
      display: flex;
      width: 100%;
    }

    @include desktop-extra {
      display: none;
    }
    justify-content: space-between;

    .button_left {
      float: left;
      &::before {
        content: "";
        border: pxToRem(4) solid transparent;
        @include light-theme {
          border-right: pxToRem(5) solid #1c1d28;
        }
        @include dark-theme {
          border-right: pxToRem(5) solid var(--pallete-common-white);
        }
        border-right: pxToRem(5) solid #1c1d28;
        float: inherit;
        height: pxToRem(6);
        width: pxToRem(14);
      }
      &:hover {
        .button_left::before {
          content: "";
          border-right: pxToRem(5) solid var(--pallete-primary-main);
        }
      }
    }

    .button_right {
      float: right;
      &::before {
        content: "";
        border: pxToRem(4) solid transparent;
        @include light-theme {
          border-left: pxToRem(5) solid #1c1d28;
        }
        @include dark-theme {
          border-left: pxToRem(5) solid var(--pallete-common-white);
        }
        float: inherit;
        height: pxToRem(6);
        width: pxToRem(14);
      }
      &:hover {
        .button_right::before {
          content: "";
          border-left: pxToRem(5) solid var(--pallete-primary-main);
        }
      }
    }

    .slider__button {
      background-color: transparent;
      border-radius: 50%;
      width: pxToRem(38);
      height: pxToRem(38);
      border: pxToRem(1) solid var(--pallete-grey-10);
      &:hover {
        color: var(--pallete-primary-main);
        border: pxToRem(1) solid var(--pallete-primary-main);
        .arrow__left {
          border-right: pxToRem(5) solid var(--pallete-primary-main);
        }
        .arrow__right {
          border-left: pxToRem(5) solid var(--pallete-primary-main);
        }
      }
    }
    .slider__scrollbar {
      @include media(0, $tablet) {
        display: flex;
        width: 100%;
        max-width: pxToRem(194);
        align-items: center;
        padding-right: pxToRem(15);
        padding-left: pxToRem(15);
      }

      @include media($tablet, $desktop) {
        max-width: pxToRem(754);
        width: 100%;
        padding-right: pxToRem(27);
        padding-left: pxToRem(27);
        align-items: center;
        display: flex;
      }

      @include desktop {
        max-width: pxToRem(1034);
        padding-right: pxToRem(27);
        padding-left: pxToRem(27);
        align-items: center;
        display: flex;
        width: 100%;
      }
      
      .scrollbar__track {
        width: 50%;
        height: pxToRem(2);
        background-color: var(--pallete-grey-10);
      }

      .scrollbar__thumb {
        width: 50%;
        height: pxToRem(2);
        background-color: var(--pallete-grey-900);
      }
    }
  }
}
