html[dir="rtl"] {
  .portfolios {
    display: flex;
    gap: pxToRem(13);
    height: pxToRem(39);

    &__item-icon {
      width: pxToRem(13);
      height: pxToRem(13);
      display: block;
      fill: var(--pallete-common-white);
      top: pxToRem(12);
      left: pxToRem(13);
      position: absolute;
    }

    @include desktop {
      top: pxToRem(85);
      right: pxToRem(0);
      position: absolute;
    }
    .ellipse {
      border: pxToRem(1) solid var(--pallete-common-white);
      border-radius: 50%;
      width: pxToRem(39);
      height: pxToRem(39);
      position: relative;
      &:hover {
        border-color: var(--pallete-secondary-main);
        .portfolios__item-icon {
          fill: var(--pallete-secondary-main);
          transition: 0.5s;
        }
      }
    }
  }
}

.footer {
  @include media(0, $tablet) {
    background-color: var(--pallete-grey-900);
    color: var(--pallete-common-white);

    padding-bottom: pxToRem(34);
    position: relative;
    height: 100%;
    min-height: pxToRem(594);
    padding-top: pxToRem(17);
  }
  @include media($tablet, $desktop) {
    background-color: var(--pallete-grey-900);
    color: var(--pallete-common-white);
    position: relative;
    height: 100%;
    min-height: pxToRem(594);
    padding-bottom: pxToRem(36);
    padding-top: pxToRem(29);
  }
  @include desktop {
    background-color: var(--pallete-grey-900);
    color: var(--pallete-common-white);
    position: relative;
    height: 100%;
    min-height: pxToRem(387);
    display: flex;
    gap: pxToRem(332);
    padding-bottom: pxToRem(40);
    padding-top: pxToRem(69);
  }
  .container {
    @include media(0, $tablet) {
      padding: pxToRem(0) pxToRem(9);
    }
    @include media($tablet, $desktop) {
      padding: pxToRem(0) pxToRem(20);
    }
    @include desktop {
      padding: pxToRem(0) pxToRem(35);
    }
  }

  &__logo {
    @include media(0, $tablet) {
      width: max-content;
      z-index: 1001;
      background-size: pxToRem(46) pxToRem(30);
      height: max-content;
      margin-bottom: pxToRem(26);
    }
    @include media($tablet, $desktop) {
      width: max-content;
      z-index: 1001;
      background-size: pxToRem(46) pxToRem(30);
      height: max-content;
      margin-bottom: pxToRem(73);
    }
    @include desktop {
      width: max-content;
      z-index: 1001;
      background-size: pxToRem(46) pxToRem(30);
      height: max-content;
      padding-left: pxToRem(0);
      margin-top: pxToRem(0);
    }
    .logo {
      @include media(0, $tablet) {
        display: block;
        z-index: 1001;
        height: pxToRem(62);

        width: pxToRem(54);
        background-color: var(--pallete-common-white);
        -webkit-mask-image: url(../uploads/logo.svg);
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: pxToRem(65) pxToRem(49);
      }

      @include media($tablet, $desktop) {
        background-color: #fff;
        display: block;
        height: pxToRem(75);
        -webkit-mask-image: url(../uploads/logo.svg);
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: pxToRem(85) pxToRem(62);
        z-index: 1001;
        width: pxToRem(61);
      }
      @include desktop {
        background-color: #fff;
        display: block;
        -webkit-mask-image: url(../uploads/logo.svg);
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: pxToRem(65) pxToRem(65);
        width: pxToRem(65);
        height: pxToRem(65);
      }
    }
  }
 &__wrapper {
    @include media(0, $tablet) {
      column-gap: pxToRem(55);
      margin-bottom: pxToRem(16);
    }
    @include media($tablet, $desktop) {
      margin-bottom: pxToRem(40);
      column-gap: pxToRem(55);
      display: block;
    }
    @include desktop {
      position: relative;
      justify-content: space-between;
      margin-top: pxToRem(7);
      display: flex;
      max-width: pxToRem(1126);
      column-gap: pxToRem(55);
      margin-bottom: pxToRem(26);
    }
  }
  &__links {
    @include media(0, $tablet) {
      display: flex;
      flex-wrap: wrap;
      column-gap: pxToRem(47);
      row-gap: pxToRem(36);
      margin-bottom: pxToRem(37);
    }
    @include media($tablet, $desktop) {
      display: flex;
      flex-wrap: wrap;
      row-gap: pxToRem(36);
      max-width: pxToRem(640);
      column-gap: pxToRem(80);
      margin-bottom: pxToRem(65);
    }
    @include media($desktop, 910) {
      max-width: pxToRem(540);
      column-gap: pxToRem(30);
      margin-bottom: pxToRem(65);
      display: flex;
    }
    @include media(910, $desktop-extra) {
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: pxToRem(0);
      max-width: pxToRem(683);
      column-gap: pxToRem(100);
    }
    @include desktop-extra {
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: pxToRem(0);
      max-width: pxToRem(683);
      column-gap: pxToRem(100);
    }
  }

  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: pxToRem(15);
    line-height: pxToRem(22);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    @include light-theme {
      color: var(--pallete-common-white);
    }
  }
  &__text {
    @include media(0, $tablet) {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: pxToRem(12);
      letter-spacing: 0.02em;
      margin-block-start: 0em;
      margin-block-end: 0em;
      cursor: pointer;
      text-decoration: none;
      color: var(--pallete-common-white);
      padding-bottom: pxToRem(5);
      padding-top: pxToRem(5);
      &:hover,
      :active,
      :focus {
        text-decoration: none !important;
        outline: none !important;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      &:visited {
        color: var(--pallete-common-white);
      }
    }
    @include tablet {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: pxToRem(12);
      letter-spacing: 0.02em;
      margin-block-start: 0em;
      margin-block-end: 0em;
      cursor: pointer;
      text-decoration: none;
      color: var(--pallete-common-white);
      padding-bottom: pxToRem(5);
      padding-top: pxToRem(5);
      &:hover,
      :active,
      :focus {
        text-decoration: none !important;
        outline: none !important;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      &:visited {
        color: var(--pallete-common-white);
      }
      line-height: pxToRem(22);
    }
  }
  &__content li {
    @include media(0, $tablet) {
      padding-bottom: pxToRem(9);
    }
    @include tablet {
      padding: pxToRem(5) pxToRem(0);
    }
  }

  .content__text {
    display: grid;
    margin-top: pxToRem(16);
  }
  &__socials {
    display: flex;
    max-width: pxToRem(115);
  }
  &__socials-item {
    padding-top: pxToRem(15);
    padding-left: pxToRem(10);
    padding-right: pxToRem(10);
    padding-bottom: pxToRem(15);
  }
  &__social-icon {
    width: pxToRem(19);
    height: pxToRem(19);
    display: block;

    fill: var(--pallete-common-white);

    &:hover {
      fill: var(--pallete-secondary-main);
    }
  }
  &-portfolios {
    display: flex;
    gap: pxToRem(13);
    height: pxToRem(39);

    @include desktop {
      top: pxToRem(85);
      left: pxToRem(0);
      position: absolute;
    }

  }
  &__ellipse {
    border: pxToRem(1) solid var(--pallete-common-white);
    border-radius: 50%;
    width: pxToRem(39);
    height: pxToRem(39);
    position: relative;
    &:hover {
      border-color: var(--pallete-secondary-main);
      .portfolios__item-icon {
        fill: var(--pallete-secondary-main);
        transition: 0.5s;
      }
    }
  }
  &-portfolios__item-icon {
    width: pxToRem(13);
    height: pxToRem(13);
    display: block;
    fill: var(--pallete-common-white);
    top: pxToRem(12);
    left: pxToRem(13);
    position: absolute;
  }
  &__legal {
    @include tablet {
      display: flex;
      flex-flow: row-reverse;
      justify-content: space-between;
      align-items: baseline;
    }

    
    .text {
      @include media(0, $desktop) {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: pxToRem(10);
        line-height: pxToRem(12);

        // color: rgba(255, 255, 255, 0.3);
        color: #afafaff5;
      }
      @include desktop {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: pxToRem(12);
        line-height: pxToRem(15);
        // color: rgba(255, 255, 255, 0.3);
        color: #afafaff5;
      }
    }
   
  }
  &__legal-copyright {
    @include media(0, $tablet) {
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    @include tablet {
      margin: pxToRem(0);
      display: block;
      text-align: center;
    }
  }
  span {
    padding: pxToRem(0);
  }

  .legal {
    @include media(0, $tablet) {
      display: flex;
      justify-content: center;
      gap: pxToRem(23);
    }
    @include media($tablet, $desktop) {
      gap: pxToRem(30);
      justify-content: space-between;
    }
    @include desktop {
      gap: pxToRem(43);
      justify-content: space-between;
      display: flex;
    }
  }

  &__us li {
    @include media(0, $tablet) {
      padding-bottom: pxToRem(7);
    }
    @include media($tablet, $desktop) {
      padding-bottom: pxToRem(4);
    }
    @include desktop {
      padding-bottom: pxToRem(3);
    }
  }
  &__contacts {
    display: block;
    @include tablet {
      margin-bottom: pxToRem(0);
      order: 1;
    }
    .content__text {
      .item:first-child {
        padding-bottom: pxToRem(15);
      }
      .item:nth-child(2) {
        padding-top: pxToRem(3);
        padding-bottom: pxToRem(5);
      }
      .item:nth-child(3) {
        padding-top: pxToRem(2);
        padding-bottom: pxToRem(0);
      }
    }
  }

  li {
    @include media(0, $desktop) {
      padding-top: pxToRem(5);
      padding-bottom: pxToRem(5);
    }
    @include desktop {
      padding: pxToRem(5) pxToRem(0);
    }
  }
}
