.footer {
  background-color: $pallete-grey-900;
  color: $pallete-common-white;
  padding-top: 13px;
  position: relative;
  height: 100%;
  min-height: 594px;

  @include desktop {
    // display: -webkit-box;
    min-height: 387px;
    display: flex;
    gap: 332px;
  }
  .container {
    padding: 0 9px;
    @include tablet {
      padding: 0 20px;
    }
    @include desktop {
      padding: 0 35px;
    }
  }
  &__header {
    // padding-top: 0px;
    // @include desktop{
    //   padding: 69px;
    //   max-width: 235px;
    //   max-height: 198px;
    //   padding-left: 84px;
    //   padding-right: 84px;

    // }
    &__logo {
      width: max-content;
      z-index: 1001;
      background-size: 46px 30px;
      padding-left: 3px;
      padding-top: 17px;
          height: max-content;
      @include desktop {
        padding-top: 67px;
        margin-left: 84px;
        padding-left: 0px;
      }
      .footer__logo {
        display: block;
        z-index: 1001;
        height: 62px;
        width: 65px;
        background-color: $pallete-common-white;
        -webkit-mask-image: url(../uploads/logo.svg);
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 65px 49px;
        @include tablet {
          background-color: #fff;
          display: block;
          height: 75px;
          -webkit-mask-image: url(../uploads/logo.svg);
          -webkit-mask-position: center;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: 85px 62px;
          width: 90px;
          z-index: 1001;
        }
        @include desktop {
          -webkit-mask-position: center;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: 65px 65x;
          width: 65px;
          height: 65px;
        }
      }
    }
  }
  .footer__wrapper {
    display: grid; 
    grid-template-columns: repeat(2,minmax(0,max-content));
     grid-template-rows: repeat(auto-fit,42px); 
     column-gap: 55px;
     margin-top: 29px;
     margin-bottom: 45px;
    @include tablet {
      // display: flex;
      // margin-bottom: 83px;
      // margin-top: 49px;
      // gap: 80px;
      column-gap: 0px;
      display: grid; 
      grid-template-columns: repeat(2,minmax(0,max-content)); 
      grid-template-rows: repeat(auto-fit,42px);
      margin-bottom: 0px;
      margin-top: 74px;
    }
    @include desktop {
      // grid-template-columns: 0.6fr 1fr;
      // margin-left: 248px;
      // margin-top: 44px;
      // margin-bottom: 36px;
      column-gap: 10px;
      margin-top: 66px;
    }
  }

  .header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.02em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    // padding-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: $pallete-common-white;
    padding-bottom: 5px;
    padding-top: 5px;
    &:hover,
    :active,
    :focus {
      text-decoration: none !important;
      outline: none !important;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    &:visited {
      color: $pallete-common-white;
    }
    @include tablet {
      line-height: 22px;
    }
    @include desktop {
      line-height: 22px;
    }
  }
  .content__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
  }

  .footer__content {
    grid-area: 2/auto/span 6/span 3;
      padding-bottom: 39px;
      @include tablet{
        grid-area: 2/auto/span 6/auto; padding-bottom: 84px;
        padding-bottom: 63px;
      }
  }
  .content__text {
    display: grid;
    margin-top: 16px;
  }
  .socials {
    // gap: 20px;
    display: flex;
    // margin-top: 17px;
    max-width: 115px;
    &__item {
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 15px;
      &:first-child {
        padding-left: 0px;
      }
    }
    &__item-icon {
      width: 19px;
      height: 19px;
      display: block;
      //  stroke: $pallete-common-white;
      fill: $pallete-common-white;
      //  -webkit-mask-position: center;
      //  -webkit-mask-repeat: no-repeat;
      //  -webkit-mask-size: 19px 19px;
      &:hover {
        // stroke: $pallete-secondary-main;
        fill: $pallete-secondary-main;
      }
    }
  }
  .portfolios {
    display: flex;
    // margin-top: 53px;
    gap: 13px;

    margin-bottom: 37px;

    &__item-icon {
      width: 13px;
      height: 13px;
      display: block;
      fill: $pallete-common-white;
      top: 12px;
      left: 13px;
      position: absolute;
    }
    @include tablet {
      // margin-top: 64px;
      margin-bottom: 68px;
    }
    @include desktop {
      left: 85px;
      margin-top: 0;
      position: absolute;
      top: 167px;
      margin-bottom: 0px;
    }
    .ellipse {
      border: 1px solid $pallete-common-white;
      border-radius: 50%;
      width: 39px;
      height: 39px;
      position: relative;
      &:hover {
        border-color: $pallete-secondary-main;
        .portfolios__item-icon {
          fill: $pallete-secondary-main;
          transition: 0.5s;
        }
      }
    }
  }
  .footer__legal {
    display: flex; 
    flex-flow: row-reverse; 
    justify-content: space-between;
    .legal {
      display: flex; 
      justify-content: space-between; 
      gap: 24px;
    }
    @include tablet {
      // display: flex;
      // flex-flow: row-reverse;
      // justify-content: space-between;
      // margin-top: 64px;
    }
    @include desktop {
      // gap: 530px;
      // left: 85px;
      // position: absolute;
      // margin-top: 56px;
    }
    .text {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;

      color: rgba(255, 255, 255, 0.3);

      @include desktop {
        font-size: 12px;
        line-height: 15px;
      }
    }
    .copyright {
      margin-top: 13px;
      display: block;
      text-align: center;
      @include tablet {
        margin-top: 0px;
      }
    }
    span {
      padding: 0px;
    }
  }
  .footer__us {
    grid-area: 8/3/span 5/auto;
    @include tablet {
      // margin-top: 25px;
      grid-area: 2/4/span 5/auto;
    }
  }
  .contacts {
    display: block;
    // margin-top: 38px;
    // margin-bottom: 43px;
    grid-area: 8/1/span 6/auto;
    @include tablet{
      display: block;
      // margin-top: 25px;
      margin-bottom: 0px;
      grid-area: 2/5/span 6/auto;
    }
      .content__text {
        .item:first-child {
          padding-bottom: 10px;
        }
        .item:nth-child(2) {
          padding-top: 3px;
          padding-bottom: 2px;
        }
        .item:nth-child(3) {
          padding-top: 2px;
          padding-bottom: 0;
        }
      }
    }
  
  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
