#body:target {
  overflow: hidden;
  @include tablet {
    overflow: auto;
  }
}

#body:not(:target) {
  overflow: auto;
}

#body:not(:target) .button_closed {
  width: pxToRem(54);
  height: pxToRem(62);
  padding: pxToRem(20);
}

#body:target .button_closed {
  padding:pxToRem(0);
  width: pxToRem(0);
  height: pxToRem(0);
}

#body:target .logo {
  background-color: var(--pallete-common-white);
  @include tablet {
    background-color: var(--pallete-grey-900);
  }
}

#body:not(:target) {
  #navbar {
    transform: translateX(100%);
    transition: transform 0.3s ease;
    @include tablet {
      transform: none;
      transition: unset;
    }
  }
}

#body:target {
  #navbar {
    transform: translateX(0%);
    transition: transform 0.3s ease;
    @include tablet {
      transform: none;
    }
  }
}

#body:target .menu__burger {
  position: fixed;
  right:pxToRem(0);
  @include tablet {
    display: none;
  }
}

#body:target .burger__line {
  animation: line_2_anim 0.2s ease-in-out forwards;
  animation-iteration-count: 1;

  &::after {
    animation: line_3_anim 0.2s ease-in-out forwards;
    animation-iteration-count: 1;
  }
  &::before {
    animation: line_1_anim 0.2s ease-in-out forwards;
    animation-iteration-count: 1;
  }
}

#body:not(:target) .burger__line {
  animation: line_2_anim_closing 0.2s ease-in-out forwards;
  animation-iteration-count: 1;

  &::after {
    animation: line_3_anim_closing 0.2s ease-in-out forwards;
    animation-iteration-count: 1;
  }
  &::before {
    animation: line_1_anim_closing 0.2s ease-in-out forwards;
    animation-iteration-count: 1;
  }
}

.header {

  .container {
    padding:pxToRem(0);
    @include tablet {
      padding: pxToRem(0) pxToRem(14);
    }
    @include desktop {
      padding: pxToRem(0) pxToRem(35);
    }
  }

  &__menu {
    display: flex;
    padding-top: pxToRem(0);
    justify-content: space-between;
    align-items: center;
    @include tablet {
      padding: pxToRem(13) pxToRem(0);
      gap: pxToRem(25);
    }
    @include desktop {
      padding: pxToRem(30) pxToRem(0);
      max-width: pxToRem(1110);
      width: 100%;
      gap: pxToRem(15);
    }

    .menu__logo {
      z-index: 1001;

      .logo {
        display: block;
        z-index: 1001;
        height: pxToRem(65);
        width: pxToRem(65);
        background-color: var(--pallete-grey-900);
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: pxToRem(49) pxToRem(49);
        @include desktop {
          -webkit-mask-size: pxToRem(65);
        }
      }
    }
    .menu__burgerMenu {
      z-index: 1003;

      .button_closed {
        display: block;
        position: absolute;
        z-index: 1;
        background-color: transparent;
        top: pxToRem(0);
      }

      .burgerMenu {
        z-index: 1003;
        float: right;

        .burger__line {
          z-index: 1003;
          background-color: var(--pallete-grey-900);
          width: pxToRem(20);
          height: pxToRem(2);
          margin-top: pxToRem(4);
          margin-bottom: pxToRem(8);
          width: pxToRem(29);
          margin-left: pxToRem(-9);
        }

        .burger__line::before {
          content: "";
          display: block;
          background-color: var(--pallete-grey-900);
          width: pxToRem(20);
          height: pxToRem(2);
          position: absolute;
          top: pxToRem(-6);
          right: pxToRem(0);
          z-index: 1010;
        }

        .burger__line::after {
          content: "";
          display: block;
          position: absolute;
          background-color: var(--pallete-grey-900);
          width: pxToRem(20);
          height: pxToRem(2);
          top: pxToRem(7);
          right: pxToRem(0);
          z-index: 1010;
        }

        &__link {
          z-index: 1003;
          cursor: pointer;
          display: block;
          padding-right:pxToRem(10);
          padding-top: pxToRem(24);
          padding-bottom: pxToRem(24);
          padding-left: pxToRem(24);
        }
      }
      @include tablet {
        display: none;
      }
    }

    .menu__navbar {
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      list-style: none;
      background: var(--pallete-primary-main);
      flex-direction: column;
      // justify-content: space-evenly;
      transform: translateX(100%);
      transition: transform 0.2s ease;
      align-items: center;
      color: var(--pallete-common-white);
      padding-top: pxToRem(62);
      padding-bottom: pxToRem(42);
      display: flex;

      @include tablet {
        position: initial;
        overflow: hidden;
        background: transparent;
        transform: none;
        transition: none;
        color: var(--pallete-grey-900);
        padding-top: pxToRem(0);
        flex-direction: initial;
        // justify-content: initial;
        display: initial;
        max-width: pxToRem(650);
        padding-bottom: pxToRem(0);
      }

      @include desktop {
        // margin-top: 15pxToRem;
        // justify-content: initial;
        // display: initial;
        // margin-left: 53pxToRem;
        max-width: pxToRem(970);
        width: 100%;
        // justify-content: space-between;
        display: flex;
      }

      .navbar__navigationContainer {
        height: 100%;
        width: 100%;
        overflow: auto;
        
        @include tablet {
          display: flex;
          padding-right: pxToRem(0);
          overflow: hidden;
          // gap: 47pxToRem;
          justify-content: space-between;
          max-width: pxToRem(642);
          width: 100%;
        }

        @include desktop {
          display: flex;
          max-width: pxToRem(970);
          width: 100%;
          justify-content: space-between;

          gap: pxToRem(0);
        }

        .container__items {
          padding-top: pxToRem(42);
          padding-bottom: pxToRem(42);
         margin-left: auto;
         margin-right: auto;
          @include tablet {
            padding-top: pxToRem(0);
            padding-bottom: pxToRem(0);
            display: flex;
            align-items: center;
          }
        }
      }

      &:target {
        transform: translateY(0);
      }
      .navbar__item {
        width: auto;
        text-align: center;
        display: block;
        @include tablet {
        }
      }

      li a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: pxToRem(15);
        line-height: pxToRem(18);
        letter-spacing: 0.02em;
        color: var(--pallete-common-white);
        padding-bottom: pxToRem(20);
        padding: pxToRem(20);
        display: block;

        @include tablet {
          color:var(--pallete-grey-900);
          font-size: pxToRem(10);
          line-height: 12pxToRem(12);
          padding: pxToRem(12.5) pxToRem(12.8);
          // width: max-content;
        }

        @include desktop {
          color: var(--pallete-grey-900);
          font-size: pxToRem(13);
          line-height: pxToRem(16);
          padding: pxToRem(12.5) pxToRem(22.4);
        }
        @include media(pxToRem(769), pxToRem(992)) {
          color: var(--pallete-grey-900);
          font-size: pxToRem(10);
          line-height: pxToRem(12);
          padding: pxToRem(12.5) pxToRem(12.8);
        }
        @include media(pxToRem(640), pxToRem(697)) {
          padding: pxToRem(12.5) pxToRem(4.8);
        }
      }
    }
    .navbar__contactsContainer {
      align-items: center;
      display: flex;
      // margin-left: auto;
      justify-content: space-around;
      position: absolute;
      bottom: 0;
      width: 100%;
      @include tablet {
        position: initial;
        justify-content: space-between;
        max-width: pxToRem(274);
      }
      @include desktop {
        max-width: pxToRem(364);
      }
      @include media(pxToRem(769), pxToRem(992)) {
        max-width: pxToRem(306);
      }
      @include media(pxToRem(640), pxToRem(727)) {
        max-width: pxToRem(244);
      }
    }
    .contactsContainer__tel {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: pxToRem(15);
      line-height: pxToRem(18);
      letter-spacing: 0.02em;
      color: inherit;
      display: none;
      
      @include tablet {
        font-weight: bold;
        font-size: pxToRem(10);
        line-height: pxToRem(12);
        padding: pxToRem(12.5) pxToRem(22.4);
        display: block;
        white-space: nowrap;
        &:visited {
          color: var(--pallete-grey-900);
        }
      }
      @include desktop {
        font-size: pxToRem(13);
        line-height: pxToRem(16);
        &:visited {
          color: var(--pallete-grey-900);
        }
      }
      @include media(pxToRem(769), pxToRem(992)) {
        font-weight: bold;
        font-size:pxToRem(10);
        line-height: pxToRem(12);
        padding: pxToRem(12.5) pxToRem(15);
      }
      @include media(pxToRem(640), pxToRem(727)) {
        padding-left: pxToRem(4);
        padding-right: pxToRem(4);
      }
    }

    .contactsContainer__button {
      width: 100%;
      color: var(--pallete-common-white);
      margin-top: auto;
      padding: pxToRem(20);
      height: auto;
      vertical-align: bottom;
      margin-bottom: calc(0+ env(safe-area-inset-bottom));
      background-color: var(--pallete-secondary-main);
      border: var(--pallete-secondary-main);
      font-size: pxToRem(15);
      line-height: pxToRem(18);

      &:hover {
        color: var(--pallete-common-white);
        background-color: #ff3c68;
        border: pxToRem(1) solid #ff3c68;
      }
      @include tablet {
        width: initial;
        position: initial;
        min-width: pxToRem(129);
        font-size: pxToRem(10);
        line-height: pxToRem(12);
        padding: pxToRem(0);
        min-height: pxToRem(33);
        // margin-bottom: 32pxToRem;
        margin-left: pxToRem(0);
        background-color: var(--pallete-primary-main);
        margin-top: 0;
        &:hover {
          color:var(--pallete-primary-main);
          background-color: transparent;
          border: pxToRem(1) solid var(--pallete-primary-main);
        }
      }
      @include media(pxToRem(769), pxToRem(992)) {
        width: initial;
        position: initial;
        min-width: pxToRem(129);
        min-height: pxToRem(33);
        // margin-bottom: 32pxToRem;
        margin-left: pxToRem(0);
        background-color: var(--pallete-primary-main);
        margin-top: 0;
        &:hover {
          color: var(--pallete-primary-main);
          background-color: transparent;
          border: pxToRem(1) solid var(--pallete-primary-main);
        }
      }
      @include desktop {
        min-width: pxToRem(171);
        min-height: pxToRem(41);
        font-size: pxToRem(13);
        line-height: pxToRem(16);
        // margin-right: 25pxToRem;
        margin-top: 0;
        padding: pxToRem(12);
      }
    }
    &__logo {
      position: fixed;
      top: pxToRem(7);
      left: pxToRem(9);
    }
  }
}
