html[dir="rtl"] {
  .burgerMenu {
    .burger__line::before {
      left: pxToRem(0);
      right: 9px !important;
    }

    .burger__line::after {
      left: pxToRem(0);
      right: 9px !important;
    }
  }
}
#body:target {
  @include media(0, $tablet) {
    overflow: hidden;
  }
  @include tablet {
    overflow: auto;
  }
}

#body:not(:target) {
  overflow: auto;
}

#body:not(:target) .button_closed {
  width: pxToRem(54);
  height: pxToRem(62);
  padding: pxToRem(20);
}

#body:target .button_closed {
  padding: pxToRem(0);
  width: pxToRem(0);
  height: pxToRem(0);
}

#body:target .logo {
  @include media(0, $tablet) {
    @include light-theme {
      background-color: var(--pallete-common-white);
    }
    @include dark-theme {
      background-color: var(--pallete-common-white);
    }
  }
  @include tablet {
    @include light-theme {
      background-color: var(--pallete-grey-900);
    }
    @include dark-theme {
      background-color: var(--pallete-common-white);
    }
  }
}

#body:not(:target) {
  #navbar {
    @include media(0, $tablet) {
      transform: translateX(100%);
      transition: transform 0.3s ease;
    }
    @include tablet {
      transform: none;
      transition: unset;
    }
  }
}

#body:target {
  #navbar {
    @include media(0, $tablet) {
      transform: translateX(0%);
      transition: transform 0.3s ease;
    }
    @include tablet {
      transform: none;
      transition: transform 0.3s ease;
    }
  }
}

#body:target .menu__burger {
  @include media(0, $tablet) {
    position: fixed;
    right: pxToRem(0);
  }
  @include tablet {
    display: none;
  }
}

#body:target .burger__line {
  animation: line_2_anim 0.2s ease-in-out forwards;
  animation-iteration-count: 1;

  &::after {
    animation: line_3_anim 0.2s ease-in-out forwards;
    animation-iteration-count: 1;
  }
  &::before {
    animation: line_1_anim 0.2s ease-in-out forwards;
    animation-iteration-count: 1;
  }
}

#body:not(:target) .burger__line {
  animation: line_2_anim_closing 0.2s ease-in-out forwards;
  animation-iteration-count: 1;

  &::after {
    animation: line_3_anim_closing 0.2s ease-in-out forwards;
    animation-iteration-count: 1;
  }
  &::before {
    animation: line_1_anim_closing 0.2s ease-in-out forwards;
    animation-iteration-count: 1;
  }
}
.page-wrapper {
  @include light-theme {
    background: transparent;
  }
  @include dark-theme {
    background: var(--pallete-grey-900);
  }
}

#animation-loading:target {
  .menu__logo {
    opacity: 0;
    animation: appearance 1s ease-in-out forwards;
    animation-delay: 0.5s;
  }
}
#animation-loading:target {
  .menu__burgerMenu {
    opacity: 0;
    animation: appearance 1s ease-in-out forwards;
    animation-delay: 0.75s;
  }
}
#animation-loading:target {
  .container__items {
    opacity: 0;
    animation: appearance 1s ease-in-out forwards;
    animation-delay: 1s;
  }
}
#animation-loading:target {
  .contactsContainer__tel {
    opacity: 0;
    animation: appearance 1s ease-in-out forwards;
    animation-delay: 1.25s;
  }
}

#animation-loading:target {
  .contactsContainer__button {
    opacity: 0;
    animation: appearance 1s ease-in-out forwards;
    animation-delay: 1.5s;
  }
}

.header {
  .container {
    @include media(0, $tablet) {
      padding: pxToRem(0);
    }
    @include media($tablet, $desktop) {
      padding: pxToRem(0) pxToRem(14);
    }
    @include desktop {
      padding: pxToRem(0) pxToRem(35);
    }
  }

  &__menu {
    @include media(0, $desktop) {
      display: flex;
      padding-top: pxToRem(0);
      justify-content: space-between;
      align-items: center;
    }
    @include media($tablet, $desktop) {
      padding: pxToRem(13) pxToRem(0);
      gap: pxToRem(25);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include desktop {
      padding: pxToRem(30) pxToRem(0);
      max-width: pxToRem(1110);
      width: 100%;
      gap: pxToRem(15);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    
  }
  &__menu-logo {
    z-index: 1001;
    .logo {
      @include media(0, $desktop) {
        display: block;
        z-index: 1001;
        height: pxToRem(65);
        width: pxToRem(65);
        @include light-theme {
          background-color: var(--pallete-grey-900);
        }
        @include dark-theme {
          background-color: var(--pallete-common-white);
        }
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: pxToRem(49) pxToRem(49);
      }
      @include desktop {
        display: block;
        z-index: 1001;
        height: pxToRem(65);
        width: pxToRem(65);
        @include light-theme {
          background-color: var(--pallete-grey-900);
        }
        @include dark-theme {
          background-color: var(--pallete-common-white);
        }
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: pxToRem(65);
      }
    }
  }
  &__menu-burgerMenu {
    @include media(0, $tablet) {
      #animation-loading:target {
        opacity: 0;
        animation: appearance 1s ease-in-out forwards;
        animation-delay: 0.75s;
      }
      z-index: 1003;

      .button_closed {
        display: block;
        position: absolute;
        z-index: 1;
        background-color: transparent;
        top: pxToRem(0);
      }

      .burgerMenu {
        z-index: 1003;
        float: right;

        .burger__line {
          z-index: 1003;
          @include light-theme {
            background-color: var(--pallete-grey-900);
          }
          @include dark-theme {
            background-color: var(--pallete-common-white);
          }
          width: pxToRem(20);
          height: pxToRem(2);
          margin-top: pxToRem(4);
          margin-bottom: pxToRem(8);
          width: pxToRem(29);
          margin-left: pxToRem(-9);
        }

        .burger__line::before {
          content: "";
          display: block;
          @include light-theme {
            background-color: var(--pallete-grey-900);
          }
          @include dark-theme {
            background-color: var(--pallete-common-white);
          }
          width: pxToRem(20);
          height: pxToRem(2);
          position: absolute;
          top: pxToRem(-6);
          right: pxToRem(0);
          z-index: 1010;
        }

        .burger__line::after {
          content: "";
          display: block;
          position: absolute;
          @include light-theme {
            background-color: var(--pallete-grey-900);
          }
          @include dark-theme {
            background-color: var(--pallete-common-white);
          }
          width: pxToRem(20);
          height: pxToRem(2);
          top: pxToRem(7);
          right: pxToRem(0);
          z-index: 1010;
        }

        &__link {
          z-index: 1003;
          cursor: pointer;
          display: block;
          padding-right: pxToRem(10);
          padding-top: pxToRem(24);
          padding-bottom: pxToRem(24);
          padding-left: pxToRem(24);
        }
      }
    }
    @include tablet {
      display: none;
    }
  }
  &__menu-navigationContainer {
    @include media(0, $tablet) {
      height: 100%;
      width: 100%;
      overflow: auto;
    }
    @include media($tablet, $desktop) {
      display: flex;
      padding-right: pxToRem(0);
      overflow: hidden;
      height: 100%;
      justify-content: space-between;
      max-width: pxToRem(642);
      width: 100%;
    }

    @include desktop {
      display: flex;
      max-width: pxToRem(970);
      width: 100%;
      justify-content: space-between;
      height: 100%;
      gap: pxToRem(0);
    }

    .container__items {
      @include media(0, $tablet) {
        padding-top: pxToRem(42);
        padding-bottom: pxToRem(42);
        margin-left: auto;
        margin-right: auto;
      }
      @include tablet {
        padding-top: pxToRem(0);
        padding-bottom: pxToRem(0);
        display: flex;
        align-items: center;
        margin: 0;
      }
    }
  }
  &__menu-navbar {
    @include media(0, $tablet) {
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      list-style: none;

      @include light-theme {
        background: var(--pallete-primary-main);
      }
      @include dark-theme {
        background: #2d2b88;
      }
      flex-direction: column;
      // justify-content: space-evenly;
      transform: translateX(100%);
      transition: transform 0.2s ease;
      align-items: center;
      color: var(--pallete-common-white);
      padding-top: pxToRem(62);
      padding-bottom: pxToRem(42);
      display: flex;
    }
    @include media($tablet, $desktop) {
      position: initial;
      overflow: hidden;
      z-index: 1000;
      background: transparent;
      transform: none;
      transition: none;
      list-style: none;
      display: flex;

      @include light-theme {
        color: var(--pallete-grey-900);
      }
      @include dark-theme {
        color: var(--pallete-common-white);
      }
      padding-top: pxToRem(0);
      width: 100%;
      height: 100%;
      align-items: center;
      flex-direction: initial;
      // justify-content: initial;
      max-width: pxToRem(650);
      padding-bottom: pxToRem(0);
    }

    @include desktop {
      position: initial;
      overflow: hidden;
      z-index: 1000;
      background: transparent;
      transform: none;
      transition: none;
      list-style: none;

      @include light-theme {
        color: var(--pallete-grey-900);
      }
      @include dark-theme {
        color: var(--pallete-common-white);
      }
      padding-top: pxToRem(0);
      height: 100%;
      align-items: center;
      flex-direction: initial;
      padding-bottom: pxToRem(0);
      max-width: pxToRem(970);
      width: 100%;
      display: flex;
    }



    &:target {
      transform: translateY(0);
    }
    .navbar__item {
      width: auto;
      text-align: center;
      display: block;
    }

    li a {
      @include media(0, $tablet) {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: pxToRem(15);
        line-height: pxToRem(18);
        letter-spacing: 0.02em;
        color: var(--pallete-common-white);
        padding-bottom: pxToRem(20);
        padding: pxToRem(20);
        display: block;
        // opacity: 0;
      }

      @include media($tablet, 697) {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        @include light-theme {
          color: var(--pallete-grey-900);
        }
        @include dark-theme {
          color: var(--pallete-common-white);
        }
        font-size: pxToRem(10);
        line-height: 12pxtorem (12);
        letter-spacing: 0.02em;
        padding: pxToRem(12.5) pxToRem(4.8);
      }
      @include media(697, $desktop) {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        @include light-theme {
          color: var(--pallete-grey-900);
        }
        @include dark-theme {
          color: var(--pallete-common-white);
        }
        font-size: pxToRem(10);
        line-height: 12pxtorem (12);
        letter-spacing: 0.02em;
        padding: pxToRem(12.5) pxToRem(12.8);
        display: block;
      }
      @include media($desktop, 992) {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        @include light-theme {
          color: var(--pallete-grey-900);
        }
        @include dark-theme {
          color: var(--pallete-common-white);
        }
        font-size: pxToRem(10);
        line-height: pxToRem(12);
        letter-spacing: 0.02em;
        padding: pxToRem(12.5) pxToRem(12.8);
      }
      @include media(992, $desktop-extra) {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        @include light-theme {
          color: var(--pallete-grey-900);
        }
        @include dark-theme {
          color: var(--pallete-common-white);
        }
        font-size: pxToRem(13);
        letter-spacing: 0.02em;
        line-height: pxToRem(16);
        padding: pxToRem(12.5) pxToRem(22.4);
      }

      @include desktop-extra {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        @include light-theme {
          color: var(--pallete-grey-900);
        }
        @include dark-theme {
          color: var(--pallete-common-white);
        }
        font-size: pxToRem(13);
        letter-spacing: 0.02em;
        line-height: pxToRem(16);
        padding: pxToRem(12.5) pxToRem(22.4);
      }
    }
  }
  &__menu-contactsContainer {
    @include media(0, $tablet) {
      align-items: center;
      display: flex;
      justify-content: space-around;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    @include media($tablet, 727) {
      display: flex;
      position: initial;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: pxToRem(254);
    }
    @include media(727, 992) {
      display: flex;
      position: initial;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: pxToRem(254);
    }

    @include media(992, $desktop-extra) {
      display: flex;
      position: initial;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: pxToRem(364);
    }

    @include desktop-extra {
      display: flex;
      position: initial;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: pxToRem(364);
    }
  }
  &__menu-tel {
    @include media(0, $tablet) {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: pxToRem(15);
      line-height: pxToRem(18);
      letter-spacing: 0.02em;
      color: inherit;
      display: none;
    }
    @include media($tablet, 727) {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: pxToRem(10);
      line-height: pxToRem(12);
      padding: pxToRem(12.5) pxToRem(15);
      display: block;
      white-space: nowrap;
      &:visited {
        @include light-theme {
          color: var(--pallete-grey-900);
        }
        @include dark-theme {
          color: var(--pallete-common-white);
        }
      }
    }
    @include media(727, $desktop) {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: pxToRem(10);
      line-height: pxToRem(12);
      padding: pxToRem(12.5) pxToRem(15);
      display: block;
      white-space: nowrap;
      padding-left: pxToRem(4);
      padding-right: pxToRem(4);
      &:visited {
        @include light-theme {
          color: var(--pallete-grey-900);
        }
        @include dark-theme {
          color: var(--pallete-common-white);
        }
      }
    }

    @include media($desktop, 992) {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: pxToRem(10);
      line-height: pxToRem(12);
      display: block;
      white-space: nowrap;
      padding: pxToRem(12.5) pxToRem(15);
      &:visited {
        @include light-theme {
          color: var(--pallete-grey-900);
        }
        @include dark-theme {
          color: var(--pallete-common-white);
        }
      }
    }
    @include media(992, $desktop-extra) {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: pxToRem(10);
      line-height: pxToRem(12);
      padding: pxToRem(12.5) pxToRem(22.4);
      display: block;
      white-space: nowrap;
      font-size: pxToRem(13);
      line-height: pxToRem(16);
      &:visited {
        @include light-theme {
          color: var(--pallete-grey-900);
        }
        @include dark-theme {
          color: var(--pallete-common-white);
        }
      }
    }
    @include desktop-extra {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: pxToRem(10);
      line-height: pxToRem(12);
      padding: pxToRem(12.5) pxToRem(22.4);
      display: block;
      white-space: nowrap;
      font-size: pxToRem(13);
      line-height: pxToRem(16);
      &:visited {
        @include light-theme {
          color: var(--pallete-grey-900);
        }
        @include dark-theme {
          color: var(--pallete-common-white);
        }
      }
    }
  }

  &__menu-button {
    @include media(0, $tablet) {
      width: 100%;
      color: var(--pallete-common-white);
      margin-top: auto;
      padding: pxToRem(20);
      height: auto;
      vertical-align: bottom;
      margin-bottom: calc(0+ env(safe-area-inset-bottom));
      @include light-theme {
        background-color: #e2000d;
        border: #e2000d;
        color: #f6f6f6;
      }
      @include dark-theme {
        background-color: #e2000d;
        border: #e2000d;
        color: #f6f6f6;
      }

      border: var(--pallete-secondary-main);
      font-size: pxToRem(15);
      line-height: pxToRem(18);
      &:hover {
        color: var(--pallete-common-white);
        background-color: #90030c;
        border: pxToRem(1) solid #90030c;
      }
    }
    @include media($tablet, $desktop) {
      width: initial;
      position: initial;
      min-width: pxToRem(129);
      font-size: pxToRem(10);
      line-height: pxToRem(12);
      padding: pxToRem(0);
      height: pxToRem(33);
      margin-left: pxToRem(0);
      background-color: var(--pallete-primary-main);
      margin-top: 0;
      &:hover {
        color: var(--pallete-primary-main);
        background-color: transparent;
        border: pxToRem(1) solid var(--pallete-primary-main);
      }
    }
    @include media($desktop, 992) {
      width: initial;
      position: initial;
      min-width: pxToRem(129);
      height: pxToRem(33);
      font-size: pxToRem(10);
      line-height: pxToRem(12);
      margin-left: pxToRem(0);
      background-color: var(--pallete-primary-main);
      margin-top: 0;
      &:hover {
        color: var(--pallete-primary-main);
        background-color: transparent;
        border: pxToRem(1) solid var(--pallete-primary-main);
      }
    }
    @include media(992, $desktop-extra) {
      min-width: pxToRem(171);
      min-height: pxToRem(41);
      font-size: pxToRem(13);
      line-height: pxToRem(16);
      margin-top: 0;
      padding: pxToRem(12);
    }
    @include desktop-extra {
      min-width: pxToRem(171);
      min-height: pxToRem(41);
      font-size: pxToRem(13);
      line-height: pxToRem(16);
      margin-top: 0;
      padding: pxToRem(12);
    }
  }
  &__logo {
    position: fixed;
    top: pxToRem(7);
    left: pxToRem(9);
  }
}
